.two-up li
.three-up li
.col
    border: 0px solid rgba(0,0,0,0)
    float: left
    box-sizing: border-box
    -moz-background-clip: padding-box !important
    -webkit-background-clip: padding-box !important
    background-clip: padding-box !important

.container
.row
    clearfix()

.container
    margin: 0 auto

#left
    float: left

#right
    float: right

#center
    float: none
    margin: 0 auto


@media screen and (min-width: 0em) and (max-width: 43.75em)

    .container
        padding: 2em 10%

    .container.shell
        padding: 0

    .wrapped li
        padding: 0 5%

    .col
        float: none
        width: 100%


@media screen and (min-width: 43.75em) and (max-width: 71.1875em)

    .container
        padding: 2em 10%

    .container.shell
        padding: 0 10%

    .col
        margin-right: 4%

    .col
    .wrapped li
        padding: 0 2%
        
    .row .col:last-child
        margin-right: 0
        
        
    .span_1
        width: 13.3333333333%

    .span_2
        width: 30.6666666667%

    .span_3
        width: 48.0%

    .span_4
        width: 65.3333333333%

    .span_5
        width: 82.6666666667%

    .span_6
        margin-left: 0
        width: 100%


@media screen and (min-width: 71.25em)

    .container
        max-width: 62.5em
        padding: 2em 0

    .container.shell
        padding: 0

    .two-up li
    .three-up li
    .col
        margin-right: 4%

    .col
    .wrapped li
        padding: 0 2%

    .two-up li:last-child
    .three-up li:last-child
    .col:last-child
        margin-right: 0
    
    .span_1
        width: 4.66666666667%

    .span_2
        width: 13.3333333333%

    nav#left
    .span_3
        width: 22.0%

    .three-up li,
    .span_4
        width: 30.6666666667%

    .span_5
        width: 39.3333333333%

    #center
    .two-up li
    .account #left
    .account #right
    .span_6
        width: 48.0%

    .span_7
        width: 56.6666666667%

    .span_8
        width: 65.3333333333%

    .public.home #center
    section#right
    .span_9
        width: 74.0%

    .span_10
        width: 82.6666666667%

    .span_11
        width: 91.3333333333%

    .span_12
        margin-left: 0
        width: 100%


