@import "_variables"
@import "_mixins"
@import "_functions"


base-font-size = 16px
base-line-height = 30px

darkest-gray = #333
dark-gray = #666
mid-gray = #bbb
light-gray = #ddd

thirty-white = rgba(255,255,255,0.30)
fifty-white = rgba(255,255,255,0.50)

two-gray = rgba(0,0,0,0.02)
five-gray = rgba(0,0,0,0.05)
ten-gray = rgba(0,0,0,0.1)
twenty-gray = rgba(0,0,0,0.2)
fifty-gray = rgba(0,0,0,0.5)
seventy-gray = rgba(0,0,0,0.7)


red = #8e2409
orange = #be4c00
dark-blue = #1e4167
light-blue = #3265be

one-blue = rgba(50, 101, 190, 0.1)
two-blue = rgba(50, 101, 190, 0.2)

establish-baseline()

/*body.list
		border: 4px solid orange;
body.home
		border: 4px solid dark-blue;*/

body
input
textarea
	font-family: 'Lato', sans-serif
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.app #content ul li a h2
.app #content ul li a p
.block p
a
	text-decoration: none
	color: light-blue
	transition: color 0.75s

.app #content ul li a:hover h2
.app #content ul li a:hover p
.block:hover p
a:hover
	color: orange
	transition: color 0.75s

h1
h2
h3
	font-weight: 300

h1
	adjust-font-size-to(60px)
	rhythm(1, 0, 0.5, 1, 60px)
	trailing-border(1px, .25, 60px, solid)
	border-color: twenty-gray

.app #content h1
	rhythm(1, 0, 0.5, 1, 60px)

.app.home #content h1
.list #content h1
	rhythm(1, 0, 0.5, 0, 60px)	

.form #content h1
	border: 0
	float: left
	margin: 0
	padding: 0

h2
	adjust-font-size-to(40px)
	rhythm(0, 0, 0, 1, 40px)

.app h2
	rhythm(0, 0, 0, 0.5, 40px)

.post-number
.app ul li h2
	adjust-font-size-to(30px)
	rhythm(0, 0, 0, 0, 30px)
	font-weight: 300

.modal h2
.account h2
h3
	adjust-font-size-to(30px)
	rhythm(2, 0, 0, 1, 30px)

.modal h3
.sidebar h2
h4
	font-weight: normal
	adjust-font-size-to(25px)
	rhythm(2, 0, 0, 1, 30px)

.modal h3
.account h2
	rhythm(0, 0, 0, 0)

.modal h2
	margin-top: 0
	border-color: light-gray
	trailing-border(1px, .25, 30px, solid)

.full h2
.modal h4
	rhythm(0, 0, 0, 0)

.alert
	width: 100%;
	background-color: #eee;
	padding: 25px;
	.close
		right: 0px;
		top: 0px;
		position: absolute;
		font-size: 1.5em;

.sidebar p:last-child
.sidebar h2
	rhythm(0, 0, 0, 0.25)

.sidebar a.button
	margin-top: 0.5em

.sidebar p
	rhythm(0, 0, 0, 1)


.submit-success #success-message
	display: block

.form-validation-failed #validation-message
	display: block

.submit[disabled]
	opacity:0

.input-validation-failed
	border: 2px solid #c66 !important

.input-validation-failed:before
	content: "*"
	color: #8e2409
	margin: 0px -10px


#success-message
	display: none

#validation-message
	display: none

label
ol li
ul li
p
	color: dark-gray
	adjust-font-size-to(18px)
	rhythm(1, 0, 0, 1, 30px)

.example-form pre
	margin-top: -1.5em

.example-form ul li:first-child
ul li:first-child label
	rhythm(0, 0, 0, 1)

.example-form ul li ul li:first-child
ul li ul li
	adjust-font-size-to(16px)
	rhythm(0.5, 0, 0, 0.5)	

ul li.multiple
	rhythm(1, 0.5, 0.5, 1)	
	trailing-border(1px)
	leading-border(1px)
	border-color: light-gray

ul li.multiple + li.multiple
	leading-border(0, 0)

.example-form ul li.multiple ul li:first-child
.example-form header p
ul li.multiple p
ul li.multiple ul li
	margin: 0

.example-form header
	rhythm(0, 0, 0, 1)
	trailing-border(1px, 1)
	border-color: light-gray

.checkbox label
.example-form ul li label
.example-form ul li.multiple p
	color: black

.example-form ul li.multiple ul li label
	color: dark-gray

.example-form .content.left
	rhythm(0, 0, 2, 0, 16px)	

.example-form section
	leading-border(1px, .25, 16px, solid)
	rhythm(0, 1, 2, 0, 16px)
	border-color: twenty-gray

.sidebar
	padding: 1.25em
	background: ten-gray
	border: 1px solid twenty-gray

.empty
	adjust-font-size-to(40px)
	rhythm(0, 0, 0, 0.5, 40px)

.hide
	display: none

.app.home #content ul
.list #content ul
	box-sizing: border-box
	border-left: 1px solid twenty-gray
	border-right: 1px solid twenty-gray
	overflow: hidden

.app.home #content ul
	white-space: nowrap
	rhythm(0, 0, 0, 2, 30px)

.app.home #content ul li
.list #content ul li
	trailing-border(1px, 1)
	rhythm(0, 0, 0, 0, 30px)
	border-color: twenty-gray

.app.home #content ul li:nth-child(odd)
.list #content ul li:nth-child(odd)
	background: two-gray

.app.home #content ul li:nth-child(even)
.list #content ul li:nth-child(even)
	background: five-gray

.app.home #content ul li a
.list #content ul li a
	display: block
	rhythm(0, 1, 2, 0, 30px)

.list #content ul li p
	rhythm(0, 0, 0, 0, 30px)

.modal-content .update
	float right
	display none

.modal-content .update.active
	display block

.public #page-header
	background: mid-gray

.app #page-header
	background: darkest-gray

header nav ul
	float: right

header nav ul li
	display: block
	float: left
	rhythm(0, 1.5, 0, 0, 30px)

header nav ul li a
.public.home #login a
	display: inline-block
	text-transform: uppercase

header nav ul li a
	color: dark-gray
	margin: 0 0 0 1em

#content header .button
	margin-left: 2em

.app header nav ul li a
	color: mid-gray

.add ul li.nav-add a
.list ul li.nav-list a
.form ul li.nav-list a
.app.docs ul li.nav-docs a
.account ul li.nav-account a
.app header nav ul li a:hover
	color: white

.login ul li.nav-login a
.public.docs ul li.nav-docs a
header nav ul li a:hover
	color: black

header nav h1
	float: left
	rhythm(0, 0.25, 0, 0, 30px)
	border: none

header nav h1 a
	display: block
	background: transparent url('../img/fireform-logo.png') center center no-repeat
	background-size: contain
	width: 2.5em
	height: 1.5em
	opacity: 0.7
	transition: opacity 1s
	text-indent: -9999px

.app header nav h1 a
	background: transparent url('../img/fireform-logo-white.png') center center no-repeat
	background-size: contain

header nav h1 a:hover
	opacity: 1
	transition: opacity 1s

footer
	rhythm(2, 0, 3, 0)

.public.home footer
	rhythm(0, 0, 3, 0)

footer .container
	leading-border(1px, 0, 16px, solid)
	border-color: twenty-gray
	text-align: left

footer span
footer a.logo
	display: block

footer span
	rhythm(0, 0, 0, 0.5)

footer a.logo
	rhythm(0, 0, 0, 0.25)

footer a.logo
	text-indent: -9000em;
	width: 2.5em
	height: 2.5em
	opacity: 0.7
	transition: opacity 0.75s
	background: transparent url('../img/sf-dev-labs.png') center center no-repeat
	background-size: cover;	

footer a.logo:hover
	opacity: 1

article
	rhythm(0, 0, 0, 2, 18px)

.block
.two-up li img
.three-up li img
	display: block
	width: 100%
	max-width: 100%

.public.home section
	leading-border(1px, .25, 16px, solid)
	rhythm(0, 2, 2, 0, 16px)
	border-color: twenty-gray

.public.home
	text-align: center
	rhythm(0, 0, 0, 2, 18px)

.public.home p#login
	position: absolute
	top: 1em
	right: 2.5em

.public.home p#tagline
	adjust-font-size-to(40px)
	font-weight: 300
	text-align: center
	color: black

.public.home p#sign-up
	adjust-font-size-to(30px)
	rhythm(0, 0, 0, 1, 30px)

.public.home h1
	border: 0
	text-indent: -9999px
	background: transparent url('../img/fireform-logo.png') center bottom no-repeat
	background-size: contain
	width: 100%
	height: 5em
	rhythm(0, 0, 0, 0, 60px)
	opacity: 0.6
	transition: opacity 1s

.public.home h1:hover
	opacity: 0.8

input[type="text"]
textarea
.app input
#center input
#left ul
#left ul li
	box-sizing: border-box
	width: 100%

.app.account input[type=text]
.app.account input[type=password]
	width: 50%
	clear: both

.account form
	rhythm(0, 0, 0, 2)
	
textarea
	min-height: 200px

nav#left ul li
	trailing-border(1px, 1, 18px, solid)
	border-color: twenty-gray
	rhythm(0, 0.5, 0.5, 0, 30px)

.public.home #login a
header nav ul li a
.button
input[type=text]
input[type=password]
input[type=submit]
textarea
	padding: 1.1111111em
	box-sizing: border-box
	border-radius: 0.3125em
	cursor: pointer

textarea
input[type=password]
input[type=text]
	border: 2px solid mid-gray
	border-top-color: twenty-gray

.button
.public.home #login a
	border: 2px solid twenty-gray

header nav ul li a
	border: 2px solid transparent


header nav ul li a
input[type=submit]
.button
.button.action
	display: inline-block
	width: auto
	text-align: center
	text-transform: uppercase

.button
	transition: all 0.5s

.button:hover
	background: thirty-white
	transition: all 0.5s

.button.solid
	background: fifty-gray
	color: white
	border-color: transparent
	transition: all 0.5s

.button.solid:hover
	transition: all 0.5s
	background: seventy-gray

input[type=submit]
	padding: 1.1111111em
	min-width: 15em

.inline
	rhythm(0, 0, 0, 0)

.app .checkbox input
.app .checkbox label
	display: inline
	width: auto

.checkbox
	rhythm(0, 0, 1, 0)

.modal p.button
	margin: 0

.checkbox li p
	margin: 0

.inline li
	display: inline-block

.controls .left
.button
.public.home p#login a
.inline li
header nav ul li a
.button.action
	padding: 0.5em 1.5em

.controls .left
	padding-left: 0

input[type=submit]
.button.action
	background: red
	border: 2px solid red
	color: white
	width: auto
	transition: all 0.5s

input[type=submit]:hover
.button.action:hover
	background-color: orange
	border-color: orange
	transition: all 0.5s

.app.home
.add
.list
.form
.account
	background: light-gray

.app footer .container
.app h1
	border-color: twenty-gray

#content header:before
#content header:after
.app #content ul li a:before
.app #content ul li a:after
.app ul li:before
.app ul li:after
	content: " "
	display: table

#content header:after
.app #content ul li a:after
.app ul li:after
	clear: both

.app ul li h2
	float: left
	max-width: 75%

.post-number
	float: right

.post-timestamp
	clear: both
	float: none


// modal

.modal-open
	overflow: hidden

.faded
	opacity: 0;
	transition: opacity .1s ease-in;

.fadeIn
	opacity: 1;
	transition: opacity .1s ease-in;
	position: relative
	z-index: 1	

.modal
	position: fixed
	top: 0px
	left: 0px
	background: rgba(0, 0, 0, 0.8)
	width: 100%
	height: 100%
	transition: opacity 0.5s

.modal-content
	box-sizing: border-box
	background: white
	position: absolute
	width: 50em
	top: 50%
	left: 50%
	margin: -20em 0 0 -25em
	padding: 1.25em
	z-index: 9000

.edit.modal-content
	height: 34.5em
	margin-top: -17.25em

.code.modal-content
	height: 40em
	margin-top: -20em

.code-wrapper
	box-sizing: border-box
	border: 1px solid twenty-gray
	background: ten-gray
	padding: 1.25em

.close-button
	background: light-gray
	width: 2.5em
	height: 2.5em
	border-radius: 2.5em
	display: block
	position: absolute
	top: -2.5em
	right: -1.5em
	cursor: pointer
	text-align: center
	transition: all 0.5s

.close-button:hover
	background: white
	transition: all 0.5s

.close-button i
	font-size: 1.875em
	margin-top: 0.15em

.close-button:before,
.close-button:after
	content: none

// form controls

#content header
	trailing-border(1px, 1, 16px, solid)
	border-color: twenty-gray

.controls
	trailing-border(1px, 1, 16px, solid)
	border-color: twenty-gray
	rhythm(0, 0, 0, 2, 16px)

.controls ul li
	rhythm(0, 0, 0, 0)

.controls input
.controls label
.controls ul
.controls ul li
.controls p
	display: inline-block
	width: auto

.controls .button
	margin-left: 0.625em


.email-options .button
	background-color: light-blue
	color: #fff
	transition: all 0.5s

.email-options .button:hover
	background-color: dark-blue

.email-options .off .check
	display: none

.email-options .off.button
    background-color: transparent
    color: #666
	transition: all 0.5s



// form data table


#loading
	position: absolute
	img
		display: block
		margin: 0 auto
		rhythm(0, 3, 3, 0)

.form .container
	padding-bottom: 0

.fadeOut
	opacity: 0 !important
	z-index: 0

th, 
td
	border-bottom: 1px solid twenty-gray
	border-right: 1px solid twenty-gray

.table-container
	clear: both
	overflow: scroll
	padding: 0px 10px 0px 10px;

table
	clear: both
	min-width: 100%
	border-left: 1px solid twenty-gray
	border-top: 1px solid twenty-gray

table th i.field-type
table th span
	display: inline-block

table th i.field-type
table th span
table td
	padding: 0.625em

table th span.ng-scope
	padding: 0

table th i.field-type
table th
	background: one-blue

table th span.ng-scope
table a
	display: block

table th i.field-type
	border-right: 1px solid twenty-gray
	margin-right: 0.3125em

table th i
	position: relative

.fa-sort-down
.fa-sort-asc:before
.fa-sort-up:before
.fa-sort-desc:before
	position: absolute

.fa-sort-down
.fa-sort-asc:before
	top: -1em	

.fa-sort-up:before
.fa-sort-desc:before
	top: -0.5em

table th a:hover
	color: light-blue
	background: two-blue

table tr:nth-child(odd) td
	background: fifty-white

table tr:nth-child(even) td
	background: thirty-white

.account label
	display: block
	float: none

.account p.field
.account ul.field li
	display: block
	float: left

ul.field,
.error,
.msg
	float: none
	clear: both


#code
	display: none



@media screen and (min-width: 0em) and (max-width: 71.1875em)

	nav#left ul
		border: 0
		padding: 0

	nav#left ul li {
		rhythm(0, 0, 0, 1, 18px)
		display: block;
		float: left;
		border: 2px solid light-gray;
		width: auto;
		padding: 0.5em 1.25em;
		margin-right: 1.25em;
		border-radius: 0.3125em;
	}
		
	#left
	#right
		float: none

	input
	input[type=submit]
		min-width: 100%
		max-width: 100%

	.public.home p#tagline
		adjust-font-size-to(25px)

	h1
		adjust-font-size-to(25px)
		trailing-border(1px, .25, 25px, solid)

	h2
		adjust-font-size-to(22px)

	.app h2
		rhythm(1, 0, 0, 0, 22px)

	h3
		adjust-font-size-to(20px)
		font-weight: 600

	header nav h1
		float: none
		width: 100%
		height: 2.5em
		rhythm(1, 0, 0, 0, 30px)

	header nav ul
		float: none
		rhythm(0.5, 0, 0, 1, 18px)
		text-align: center

	.public.home h1
		height: 3.75em

	header nav h1 a
		float: none
		width: 100%
		height: 2.5em

	.public.home nav ul li a
	header nav ul li a
	.button.action
		padding: 0.25em 0.5em
		margin: 0 0.25em

	header nav ul li
		adjust-font-size-to(18px)
		rhythm(0, 0, 0, 0, 18px)
		display: inline-block
		float: none

	.public.home nav ul li:first-child
		margin-right: 0

	.public.home nav ul li
		width: 100%

	.public.home nav ul
		rhythm(5, 2.5, 0, 0, 60px)

	.public.home h1 + p
		adjust-font-size-to(25px)
		rhythm(0, 0, 0, 0, 25px)

	.list #content ul li h2
		adjust-font-size-to(18px)

	.list #content ul li p
		adjust-font-size-to(15px)

	footer
		rhythm(1, 0, 2, 0)
		background: light-gray

	.app.home footer
	.add footer
	.list footer
	.form footer
	.account footer
		background: mid-gray

	footer .container
		border: 0
