@import "_variables"
@import "_mixins"
@import "_functions"


base-font-size = 16px
base-line-height = 30px

darkest-gray = #333
dark-gray = #666
mid-gray = #bbb
light-gray = #ddd

two-gray = rgba(0,0,0,0.02)
five-gray = rgba(0,0,0,0.05)
ten-gray = rgba(0,0,0,0.1)
twenty-gray = rgba(0,0,0,0.2)
fifty-gray = rgba(0,0,0,0.5)


red = #8e2409
orange = #be4c00
dark-blue = #2d6199
light-blue = #3265be

one-blue = rgba(50, 101, 190, 0.1)
two-blue = rgba(50, 101, 190, 0.2)

establish-baseline()

/*body.list
		border: 4px solid orange;
body.home
		border: 4px solid dark-blue;*/

body
input
textarea
	font-family: 'Lato', sans-serif

.app #content ul li a h2
.app #content ul li a p
.block p
a
	text-decoration: none
	color: dark-blue
	transition: color 0.75s

.app #content ul li a:hover h2
.app #content ul li a:hover p
.block:hover p
a:hover
	color: orange
	transition: color 0.75s

h1
h2
h3
h4
	font-weight: 300

h1
	adjust-font-size-to(60px)
	rhythm(1, 0, 0.5, 1, 60px)
	trailing-border(1px, .25, 60px, solid)
	border-color: twenty-gray
	color: orange

.app #content h1
	rhythm(1, 0, 0.5, 1, 60px)

.app.home #content h1
.list #content h1
	rhythm(1, 0, 0.5, 0, 60px)	

h2
	adjust-font-size-to(40px)
	rhythm(0, 0, 0, 1, 40px)

.app h2
	rhythm(0, 0, 0, 0.5, 40px)

.post-number
.app ul li h2
	adjust-font-size-to(30px)
	rhythm(0, 0, 0, 0, 30px)
	font-weight: 300

h3
	adjust-font-size-to(30px)
	rhythm(2, 0, 0, 1, 30px)

h4
	adjust-font-size-to(25px)
	rhythm(2, 0, 0, 1, 30px)

ol li
ul li
p
	color: dark-gray
	adjust-font-size-to(18px)
	rhythm(1, 0, 0, 1, 30px)

.hide
	display:none

.app.home #content ul
.list #content ul
	box-sizing: border-box
	border-left: 1px solid twenty-gray
	border-right: 1px solid twenty-gray
	overflow: hidden

.app.home #content ul
	white-space: nowrap
	rhythm(0, 0, 0, 2, 30px)

.app.home #content ul li
.list #content ul li
	trailing-border(1px, 1)
	rhythm(0, 0, 0, 0, 30px)
	border-color: twenty-gray

.app.home #content ul li:nth-child(odd)
.list #content ul li:nth-child(odd)
	background: two-gray

.app.home #content ul li:nth-child(even)
.list #content ul li:nth-child(even)
	background: five-gray

.app.home #content ul li a
.list #content ul li a
	display: block
	rhythm(0, 1, 2, 0, 30px)

.list #content ul li p
	rhythm(0, 0, 0, 0, 30px)

.public header
	background: mid-gray

.app header
	background: darkest-gray

header nav ul
	float: right

header nav ul li
	display: block
	float: left
	rhythm(0, 1.5, 0, 0, 30px)

header nav ul li a
.public.home #login a
	display: inline-block
	text-transform: uppercase

header nav ul li a
	color: dark-gray
	margin: 0 0 0 1em

.app header nav ul li a
	color: mid-gray

.add ul li.nav-add a
.list ul li.nav-list a
.form ul li.nav-list a
.app.docs ul li.nav-docs a
.account ul li.nav-account a
.app header nav ul li a:hover
	color: white

.login ul li.nav-login a
.public.docs ul li.nav-docs a
header nav ul li a:hover
	color: black

header nav h1
	float: left
	rhythm(0, 0.25, 0, 0, 30px)
	border: none

header nav h1 a
	display: block
	background: transparent url('../img/fireform-logo.png') center center no-repeat
	background-size: contain
	width: 2.5em
	height: 1.5em
	opacity: 0.7
	transition: opacity 1s
	text-indent: -9999px

.app header nav h1 a
	background: transparent url('../img/fireform-logo-white.png') center center no-repeat
	background-size: contain

header nav h1 a:hover
	opacity: 1
	transition: opacity 1s

footer
	rhythm(2, 0, 3, 0)

footer .container
	leading-border(1px, 0, 16px, solid)
	border-color: twenty-gray
	text-align: left

footer span
footer a.logo
	display: block

footer span
	rhythm(0, 0, 0, 0.5)

footer a.logo
	rhythm(0, 0, 0, 0.25)

footer a.logo
	text-indent: -9000em;
	width: 2.5em
	height: 2.5em
	opacity: 0.7
	transition: opacity 0.75s
	background: transparent url('../img/sf-dev-labs.png') center center no-repeat
	background-size: cover;	

footer a.logo:hover
	opacity: 1

article
	rhythm(0, 0, 0, 2, 18px)

.block
.two-up li img
.three-up li img
	display: block
	width: 100%
	max-width: 100%

.public.home section
	leading-border(1px, .25, 16px, solid)
	rhythm(0, 2, 2, 0, 16px)
	border-color: twenty-gray

.public.home
	text-align: center
	rhythm(0, 0, 0, 2, 18px)

.public.home p#login
	position: absolute
	top: 0
	right: 2.5em
	rhythm(2, 0, 0, 2, 18px)

.public.home p#tagline
	adjust-font-size-to(40px)
	font-weight: 300
	text-align: center
	color: black

.public.home h1 + p
	adjust-font-size-to(30px)
	rhythm(0, 0, 0, 1, 30px)

.public.home h1
	border: 0
	text-indent: -9999px
	background: transparent url('../img/fireform-logo.png') center bottom no-repeat
	background-size: contain
	width: 100%
	height: 5em
	rhythm(0, 0, 0, 0, 60px)
	opacity: 0.6
	transition: opacity 1s

.public.home h1:hover
	opacity: 0.8

.app input
#center input
#left ul
#left ul li
	width: 100%


nav#left ul li
	trailing-border(1px, 1, 18px, solid)
	border-color: twenty-gray
	rhythm(0, 0.5, 0.5, 0, 30px)

.public.home #login a
header nav ul li a
.button
input[type=text]
input[type=password]
input[type=submit]
textarea
	padding: 1.1111111em
	box-sizing: border-box
	border-radius: 0.3125em
	cursor: pointer

input[type=password, type=text]
	border: 2px solid mid-gray
	border-top-color: twenty-gray

.button
.public.home #login a
	border: 2px solid twenty-gray

header nav ul li a
	border: 2px solid transparent


header nav ul li a
input[type=submit]
.button
.button.action
	display: inline-block
	width: auto
	text-align: center
	text-transform: uppercase

.button.solid
	background: fifty-gray
	color: white
	border-color: transparent

input[type=submit]
	padding: 1.1111111em
	min-width: 15em

.inline
	rhythm(0, 0, 0, 0)

.inline li
	display: inline-block

.button
.public.home p#login a
.inline li
header nav ul li a
.button.action
	padding: 0.5em 1.5em

input[type=submit]
.button.action
	font-weight: 300
	background: red
	border: 2px solid red
	color: white
	width: auto
	transition: all 0.5s

input[type=submit]:hover
.button.action:hover
	background-color: orange
	border-color: orange
	transition: all 0.5s

.app.home
.add
.list
.form
.account
	background: light-gray

.app footer .container
.app h1
	border-color: twenty-gray

.app #content ul li a:before
.app #content ul li a:after
.app ul li:before
.app ul li:after
	content: " "
	display: table

.app #content ul li a:after
.app ul li:after
	clear: both

.app ul li h2
	float: left
	max-width: 75%

.post-number
	float: right

.post-timestamp
	clear: both
	float: none

.controls
	trailing-border(1px, 1, 16px, solid)
	border-color: twenty-gray

.modal
	position: fixed
	top: 0px
	left: 0px
	background: rgba(0, 0, 0, 0.8)
	width: 100%
	height: 100%
	transition: opacity 0.5s

.modal-content
	box-sizing: border-box
	background: white
	position: absolute
	height: 20em
	width: 50em
	top: 50%
	left: 50%
	margin: -10em 0 0 -25em
	padding: 1.25em
	z-index: 9000

.code-wrapper
	box-sizing: border-box
	border: 1px solid twenty-gray
	background: ten-gray
	padding: 1.25em

.close-button
	background: light-gray
	width: 2.5em
	height: 2.5em
	border-radius: 2.5em
	display: block
	text-indent: -9000em
	position: absolute
	top: -1.25em
	right: -1.25em
	cursor: pointer

th, 
td
	border-bottom: 1px solid twenty-gray
	border-right: 1px solid twenty-gray

table
	min-width: 100%
	border-left: 1px solid twenty-gray

table th i.field-type
table th span
	display: inline-block

table th i.field-type
table th span
table td
	padding: 0.625em

table th span.ng-scope
	padding: 0

table th i.field-type
table th
	background: one-blue

table th span.ng-scope
table a
	display: block

table th i.field-type
	border-right: 1px solid twenty-gray
	margin-right: 0.3125em

table th i
	position: relative

.fa-sort-down
.fa-sort-asc:before
.fa-sort-up:before
.fa-sort-desc:before
	position: absolute

.fa-sort-down
.fa-sort-asc:before
	top: -1em	

.fa-sort-up:before
.fa-sort-desc:before
	top: -0.5em

table th a:hover
	color: light-blue
	background: two-blue

table tr:nth-child(odd) td
	background: five-gray

.account label
	display: block
	float: none

.account p.field
.account ul.field li
	display: block
	float: left

ul.field,
.error,
.msg
	float: none
	clear: both


#code
	display: none



@media screen and (min-width: 0em) and (max-width: 71.1875em)

	nav#left ul
		border: 0
		padding: 0

	nav#left ul li {
		rhythm(0, 0, 0, 1, 18px)
		display: block;
		float: left;
		border: 2px solid light-gray;
		width: auto;
		padding: 0.5em 1.25em;
		margin-right: 1.25em;
		border-radius: 0.3125em;
	}
		
	#left
	#right
		float: none

	input
	input[type=submit]
		min-width: 100%
		max-width: 100%

	.public.home p#tagline
		adjust-font-size-to(25px)

	h1
		adjust-font-size-to(25px)
		trailing-border(1px, .25, 25px, solid)

	h2
		adjust-font-size-to(22px)

	.app h2
		rhythm(1, 0, 0, 0, 22px)

	h3
		adjust-font-size-to(20px)
		font-weight: 600

	header nav h1
		float: none
		width: 100%
		height: 2.5em
		rhythm(1, 0, 0, 0, 30px)

	header nav ul
		float: none
		rhythm(0.5, 0, 0, 1, 18px)
		text-align: center

	.public.home h1
		height: 3.75em

	header nav h1 a
		float: none
		width: 100%
		height: 2.5em

	.public.home nav ul li a
	header nav ul li a
	.button.action
		padding: 0.25em 0.5em
		margin: 0 0.25em

	header nav ul li
		adjust-font-size-to(18px)
		rhythm(0, 0, 0, 0, 18px)
		display: inline-block
		float: none

	.public.home nav ul li:first-child
		margin-right: 0

	.public.home nav ul li
		width: 100%

	.public.home nav ul
		rhythm(5, 2.5, 0, 0, 60px)

	.public.home h1 + p
		adjust-font-size-to(25px)
		rhythm(0, 0, 0, 0, 25px)

	.list #content ul li h2
		adjust-font-size-to(18px)

	.list #content ul li p
		adjust-font-size-to(15px)

	footer
		rhythm(1, 0, 2, 0)
		background: light-gray

	.app.home footer
	.add footer
	.list footer
	.form footer
	.account footer
		background: mid-gray

	footer .container
		border: 0
