* html {
  font-size: 100%;
}
html {
  font-size: 16px;
  line-height: 1.875em;
}
/*body.list
		border: 4px solid orange;
body.home
		border: 4px solid dark-blue;*/
body,
input,
textarea {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app #content ul li a h2,
.app #content ul li a p,
.block p,
a {
  text-decoration: none;
  color: #3265be;
  transition: color 0.75s;
}
.app #content ul li a:hover h2,
.app #content ul li a:hover p,
.block:hover p,
a:hover {
  color: #be4c00;
  transition: color 0.75s;
}
h1,
h2,
h3 {
  font-weight: 300;
}
h1 {
  font-size: 3.75em;
  line-height: 1.5em;
  margin-top: 0.5em;
  padding-top: 0em;
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
  border-bottom-style: solid;
  border-bottom-width: 0.016666666666666666em;
  padding-bottom: 0.10833333333333334em;
  border-color: rgba(0,0,0,0.2);
}
.app #content h1 {
  margin-top: 0.5em;
  padding-top: 0em;
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
}
.app.home #content h1,
.list #content h1 {
  margin-top: 0.5em;
  padding-top: 0em;
  padding-bottom: 0.25em;
  margin-bottom: 0em;
}
.form #content h1 {
  border: 0;
  float: left;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 2.5em;
  line-height: 1.5em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.75em;
}
.app h2 {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.375em;
}
.post-number,
.app ul li h2 {
  font-size: 1.875em;
  line-height: 2em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-weight: 300;
}
.modal h2,
.account h2,
h3 {
  font-size: 1.875em;
  line-height: 2em;
  margin-top: 2em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1em;
}
.modal h3,
.sidebar h2,
h4 {
  font-weight: normal;
  font-size: 1.5625em;
  line-height: 1.2em;
  margin-top: 2em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1em;
}
.modal h3,
.account h2 {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
.modal h2 {
  margin-top: 0;
  border-color: #ddd;
  border-bottom-style: solid;
  border-bottom-width: 0.03333333333333333em;
  padding-bottom: 0.21666666666666667em;
}
.full h2,
.modal h4 {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
.alert {
  width: 100%;
  background-color: #eee;
  padding: 25px;
}
.alert .close {
  right: 0px;
  top: 0px;
  position: absolute;
  font-size: 1.5em;
}
.sidebar p:last-child,
.sidebar h2 {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.46875em;
}
.sidebar a.button {
  margin-top: 0.5em;
}
.sidebar p {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.875em;
}
.submit-success #success-message {
  display: block;
}
.form-validation-failed #validation-message {
  display: block;
}
.submit[disabled] {
  opacity: 0;
}
.input-validation-failed {
  border: 2px solid #c66 !important;
}
.input-validation-failed:before {
  content: "*";
  color: #8e2409;
  margin: 0px -10px;
}
#success-message {
  display: none;
}
#validation-message {
  display: none;
}
label,
ol li,
ul li,
p {
  color: #666;
  font-size: 1.125em;
  line-height: 1.6666666666666667em;
  margin-top: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1em;
}
.example-form pre {
  margin-top: -1.5em;
}
.example-form ul li:first-child,
ul li:first-child label {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.875em;
}
.example-form ul li ul li:first-child,
ul li ul li {
  font-size: 1em;
  line-height: 1.875em;
  margin-top: 0.9375em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.9375em;
}
ul li.multiple {
  margin-top: 1.875em;
  padding-top: 0.9375em;
  padding-bottom: 0.9375em;
  margin-bottom: 1.875em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 1.8125em;
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 1.8125em;
  border-color: #ddd;
}
ul li.multiple + li.multiple {
  border-top-style: solid;
  border-top-width: 0em;
  padding-top: 0em;
}
.example-form ul li.multiple ul li:first-child,
.example-form header p,
ul li.multiple p,
ul li.multiple ul li {
  margin: 0;
}
.example-form header {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.875em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 1.8125em;
  border-color: #ddd;
}
.checkbox label,
.example-form ul li label,
.example-form ul li.multiple p {
  color: #000;
}
.example-form ul li.multiple ul li label {
  color: #666;
}
.example-form .content.left {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 3.75em;
  margin-bottom: 0em;
}
.example-form section {
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.40625em;
  margin-top: 0em;
  padding-top: 1.875em;
  padding-bottom: 3.75em;
  margin-bottom: 0em;
  border-color: rgba(0,0,0,0.2);
}
.sidebar {
  padding: 1.25em;
  background: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.2);
}
.empty {
  font-size: 2.5em;
  line-height: 1.5em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.375em;
}
.hide {
  display: none;
}
.app.home #content ul,
.list #content ul {
  box-sizing: border-box;
  border-left: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  overflow: hidden;
}
.app.home #content ul {
  white-space: nowrap;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 2em;
}
.app.home #content ul li,
.list #content ul li {
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 1.8125em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  border-color: rgba(0,0,0,0.2);
}
.app.home #content ul li:nth-child(odd),
.list #content ul li:nth-child(odd) {
  background: rgba(0,0,0,0.02);
}
.app.home #content ul li:nth-child(even),
.list #content ul li:nth-child(even) {
  background: rgba(0,0,0,0.05);
}
.app.home #content ul li a,
.list #content ul li a {
  display: block;
  margin-top: 0em;
  padding-top: 1em;
  padding-bottom: 2em;
  margin-bottom: 0em;
}
.list #content ul li p {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
.modal-content .update {
  float: right;
  display: none;
}
.modal-content .update.active {
  display: block;
}
.public #page-header {
  background: #bbb;
}
.app #page-header {
  background: #333;
}
header nav ul {
  float: right;
}
header nav ul li {
  display: block;
  float: left;
  margin-top: 0em;
  padding-top: 1.5em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
header nav ul li a,
.public.home #login a {
  display: inline-block;
  text-transform: uppercase;
}
header nav ul li a {
  color: #666;
  margin: 0 0 0 1em;
}
#content header .button {
  margin-left: 2em;
}
.app header nav ul li a {
  color: #bbb;
}
.add ul li.nav-add a,
.list ul li.nav-list a,
.form ul li.nav-list a,
.app.docs ul li.nav-docs a,
.account ul li.nav-account a,
.app header nav ul li a:hover {
  color: #fff;
}
.login ul li.nav-login a,
.public.docs ul li.nav-docs a,
header nav ul li a:hover {
  color: #000;
}
header nav h1 {
  float: left;
  margin-top: 0em;
  padding-top: 0.25em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  border: none;
}
header nav h1 a {
  display: block;
  background: transparent url("../img/fireform-logo.png") center center no-repeat;
  background-size: contain;
  width: 2.5em;
  height: 1.5em;
  opacity: 0.7;
  transition: opacity 1s;
  text-indent: -9999px;
}
.app header nav h1 a {
  background: transparent url("../img/fireform-logo-white.png") center center no-repeat;
  background-size: contain;
}
header nav h1 a:hover {
  opacity: 1;
  transition: opacity 1s;
}
footer {
  margin-top: 3.75em;
  padding-top: 0em;
  padding-bottom: 5.625em;
  margin-bottom: 0em;
}
.public.home footer {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 5.625em;
  margin-bottom: 0em;
}
footer .container {
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: -0.0625em;
  border-color: rgba(0,0,0,0.2);
  text-align: left;
}
footer span,
footer a.logo {
  display: block;
}
footer span {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.9375em;
}
footer a.logo {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.46875em;
}
footer a.logo {
  text-indent: -9000em;
  width: 2.5em;
  height: 2.5em;
  opacity: 0.7;
  transition: opacity 0.75s;
  background: transparent url("../img/sf-dev-labs.png") center center no-repeat;
  background-size: cover;
}
footer a.logo:hover {
  opacity: 1;
}
article {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 3.3333333333333335em;
}
.block,
.two-up li img,
.three-up li img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.public.home section {
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.40625em;
  margin-top: 0em;
  padding-top: 3.75em;
  padding-bottom: 3.75em;
  margin-bottom: 0em;
  border-color: rgba(0,0,0,0.2);
}
.public.home {
  text-align: center;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 3.3333333333333335em;
}
.public.home p#login {
  position: absolute;
  top: 1em;
  right: 2.5em;
}
.public.home p#tagline {
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
  color: #000;
}
.public.home p#sign-up {
  font-size: 1.875em;
  line-height: 2em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1em;
}
.public.home h1 {
  border: 0;
  text-indent: -9999px;
  background: transparent url("../img/fireform-logo.png") center bottom no-repeat;
  background-size: contain;
  width: 100%;
  height: 5em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  opacity: 0.6;
  transition: opacity 1s;
}
.public.home h1:hover {
  opacity: 0.8;
}
input[type="text"],
textarea,
.app input,
#center input,
#left ul,
#left ul li {
  box-sizing: border-box;
  width: 100%;
}
.app.account input[type=text],
.app.account input[type=password] {
  width: 50%;
  clear: both;
}
.account form {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 3.75em;
}
textarea {
  min-height: 200px;
}
nav#left ul li {
  border-bottom-style: solid;
  border-bottom-width: 0.05555555555555555em;
  padding-bottom: 1.6111111111111112em;
  border-color: rgba(0,0,0,0.2);
  margin-top: 0em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0em;
}
.public.home #login a,
header nav ul li a,
.button,
input[type=text],
input[type=password],
input[type=submit],
textarea {
  padding: 1.1111111em;
  box-sizing: border-box;
  border-radius: 0.3125em;
  cursor: pointer;
}
textarea,
input[type=password],
input[type=text] {
  border: 2px solid #bbb;
  border-top-color: rgba(0,0,0,0.2);
}
.button,
.public.home #login a {
  border: 2px solid rgba(0,0,0,0.2);
}
header nav ul li a {
  border: 2px solid transparent;
}
header nav ul li a,
input[type=submit],
.button,
.button.action {
  display: inline-block;
  width: auto;
  text-align: center;
  text-transform: uppercase;
}
.button {
  transition: all 0.5s;
}
.button:hover {
  background: rgba(255,255,255,0.3);
  transition: all 0.5s;
}
.button.solid {
  background: rgba(0,0,0,0.5);
  color: #fff;
  border-color: transparent;
  transition: all 0.5s;
}
.button.solid:hover {
  transition: all 0.5s;
  background: rgba(0,0,0,0.7);
}
input[type=submit] {
  padding: 1.1111111em;
  min-width: 15em;
}
.inline {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
.app .checkbox input,
.app .checkbox label {
  display: inline;
  width: auto;
}
.checkbox {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 1.875em;
  margin-bottom: 0em;
}
.modal p.button {
  margin: 0;
}
.checkbox li p {
  margin: 0;
}
.inline li {
  display: inline-block;
}
.controls .left,
.button,
.public.home p#login a,
.inline li,
header nav ul li a,
.button.action {
  padding: 0.5em 1.5em;
}
.controls .left {
  padding-left: 0;
}
input[type=submit],
.button.action {
  background: #8e2409;
  border: 2px solid #8e2409;
  color: #fff;
  width: auto;
  transition: all 0.5s;
}
input[type=submit]:hover,
.button.action:hover {
  background-color: #be4c00;
  border-color: #be4c00;
  transition: all 0.5s;
}
.app.home,
.add,
.list,
.form,
.account {
  background: #ddd;
}
.app footer .container,
.app h1 {
  border-color: rgba(0,0,0,0.2);
}
#content header:before,
#content header:after,
.app #content ul li a:before,
.app #content ul li a:after,
.app ul li:before,
.app ul li:after {
  content: " ";
  display: table;
}
#content header:after,
.app #content ul li a:after,
.app ul li:after {
  clear: both;
}
.app ul li h2 {
  float: left;
  max-width: 75%;
}
.post-number {
  float: right;
}
.post-timestamp {
  clear: both;
  float: none;
}
.modal-open {
  overflow: hidden;
}
.faded {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}
.fadeIn {
  opacity: 1;
  transition: opacity 0.1s ease-in;
  position: relative;
  z-index: 1;
}
.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
}
.modal-content {
  box-sizing: border-box;
  background: #fff;
  position: absolute;
  width: 50em;
  top: 50%;
  left: 50%;
  margin: -20em 0 0 -25em;
  padding: 1.25em;
  z-index: 9000;
}
.edit.modal-content {
  height: 34.5em;
  margin-top: -17.25em;
}
.code.modal-content {
  height: 40em;
  margin-top: -20em;
}
.code-wrapper {
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.1);
  padding: 1.25em;
}
.close-button {
  background: #ddd;
  width: 2.5em;
  height: 2.5em;
  border-radius: 2.5em;
  display: block;
  position: absolute;
  top: -2.5em;
  right: -1.5em;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}
.close-button:hover {
  background: #fff;
  transition: all 0.5s;
}
.close-button i {
  font-size: 1.875em;
  margin-top: 0.15em;
}
.close-button:before,
.close-button:after {
  content: none;
}
#content header {
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 1.8125em;
  border-color: rgba(0,0,0,0.2);
}
.controls {
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 1.8125em;
  border-color: rgba(0,0,0,0.2);
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 3.75em;
}
.controls ul li {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
.controls input,
.controls label,
.controls ul,
.controls ul li,
.controls p {
  display: inline-block;
  width: auto;
}
.controls .button {
  margin-left: 0.625em;
}
.email-options .button {
  background-color: #3265be;
  color: #fff;
  transition: all 0.5s;
}
.email-options .button:hover {
  background-color: #1e4167;
}
.email-options .off .check {
  display: none;
}
.email-options .off.button,
background-color: transparent,
color: #666 {
  transition: all 0.5s;
}
#loading {
  position: absolute;
}
#loading img {
  display: block;
  margin: 0 auto;
  margin-top: 0em;
  padding-top: 5.625em;
  padding-bottom: 5.625em;
  margin-bottom: 0em;
}
.form .container {
  padding-bottom: 0;
}
.fadeOut {
  opacity: 0 !important;
  z-index: 0;
}
th,
td {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
}
.table-container {
  clear: both;
  overflow: scroll;
  padding: 0px 10px 0px 10px;
}
table {
  clear: both;
  min-width: 100%;
  border-left: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0,0,0,0.2);
}
table th i.field-type,
table th span {
  display: inline-block;
}
table th i.field-type,
table th span,
table td {
  padding: 0.625em;
}
table th span.ng-scope {
  padding: 0;
}
table th i.field-type,
table th {
  background: rgba(50,101,190,0.1);
}
table th span.ng-scope,
table a {
  display: block;
}
table th i.field-type {
  border-right: 1px solid rgba(0,0,0,0.2);
  margin-right: 0.3125em;
}
table th i {
  position: relative;
}
.fa-sort-down,
.fa-sort-asc:before,
.fa-sort-up:before,
.fa-sort-desc:before {
  position: absolute;
}
.fa-sort-down,
.fa-sort-asc:before {
  top: -1em;
}
.fa-sort-up:before,
.fa-sort-desc:before {
  top: -0.5em;
}
table th a:hover {
  color: #3265be;
  background: rgba(50,101,190,0.2);
}
table tr:nth-child(odd) td {
  background: rgba(255,255,255,0.5);
}
table tr:nth-child(even) td {
  background: rgba(255,255,255,0.3);
}
.account label {
  display: block;
  float: none;
}
.account p.field,
.account ul.field li {
  display: block;
  float: left;
}
ul.field,
.error,
.msg {
  float: none;
  clear: both;
}
#code {
  display: none;
}
@media screen and (min-width: 0em) and (max-width: 71.1875em) {
  nav#left ul {
    border: 0;
    padding: 0;
  }
  nav#left ul li {
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 1.6666666666666667em;
    display: block;
    float: left;
    border: 2px solid #ddd;
    width: auto;
    padding: 0.5em 1.25em;
    margin-right: 1.25em;
    border-radius: 0.3125em;
  }
  #left,
  #right {
    float: none;
  }
  input,
  input[type=submit] {
    min-width: 100%;
    max-width: 100%;
  }
  .public.home p#tagline {
    font-size: 1.5625em;
    line-height: 1.2em;
  }
  h1 {
    font-size: 1.5625em;
    line-height: 1.2em;
    border-bottom-style: solid;
    border-bottom-width: 0.04em;
    padding-bottom: 0.26em;
  }
  h2 {
    font-size: 1.375em;
    line-height: 1.3636363636363635em;
  }
  .app h2 {
    margin-top: 1.3636363636363635em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0em;
  }
  h3 {
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: 600;
  }
  header nav h1 {
    float: none;
    width: 100%;
    height: 2.5em;
    margin-top: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0em;
  }
  header nav ul {
    float: none;
    margin-top: 0.8333333333333334em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 1.6666666666666667em;
    text-align: center;
  }
  .public.home h1 {
    height: 3.75em;
  }
  header nav h1 a {
    float: none;
    width: 100%;
    height: 2.5em;
  }
  .public.home nav ul li a,
  header nav ul li a,
  .button.action {
    padding: 0.25em 0.5em;
    margin: 0 0.25em;
  }
  header nav ul li {
    font-size: 1.125em;
    line-height: 1.6666666666666667em;
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0em;
    display: inline-block;
    float: none;
  }
  .public.home nav ul li:first-child {
    margin-right: 0;
  }
  .public.home nav ul li {
    width: 100%;
  }
  .public.home nav ul {
    margin-top: 2.5em;
    padding-top: 1.25em;
    padding-bottom: 0em;
    margin-bottom: 0em;
  }
  .public.home h1 + p {
    font-size: 1.5625em;
    line-height: 1.2em;
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0em;
  }
  .list #content ul li h2 {
    font-size: 1.125em;
    line-height: 1.6666666666666667em;
  }
  .list #content ul li p {
    font-size: 0.9375em;
    line-height: 2em;
  }
  footer {
    margin-top: 1.875em;
    padding-top: 0em;
    padding-bottom: 3.75em;
    margin-bottom: 0em;
    background: #ddd;
  }
  .app.home footer,
  .add footer,
  .list footer,
  .form footer,
  .account footer {
    background: #bbb;
  }
  footer .container {
    border: 0;
  }
}
