<header ng-include="getTmplUrlforAuth('partials/app-header.html','partials/public-header.html')"></header>
<div id="content" body-class-inject="app account" >
    <div class="container">
        <h1>Account</h1>
        <form>

                <!--<li>
                    <label for="name">First Name</label>
                    <input id="name" name="name" type="text" name="name" ng-model="user.name"/>
                </li>

                <li>
                    <label for="name">Last Name</label>
                    <input id="name" name="name" type="text" name="name" ng-model="user.name"/>
                </li>-->

            <p>
                <label for="email">Change Email</label>
                <input id="email" name="email" type="text" name="name" ng-model="user.email"/>
                <input type="submit" ng-click="updateProfile()" value="Update" />
            </p>

            <p class="error" ng-show="err">{{err}}</p>
            <p class="good" ng-show="msg">{{msg}}</p>
        </form>

        <form>

            <h2>Change Password</h2>

            <ul>

                <li>
                    <label for="old-password">Old Password</label>
                    <input id="old-password" name="old-password" type="password" ng-keypress="reset()" ng-model="oldpass"/>
                </li>

                <li>
                    <label for="new-password">New Password</span>
                    <input name="new-password" id="confirm-password" type="password" ng-keypress="reset()" ng-model="newpass"/>
                </li>

                <li>
                    <label for="confirm-password">Confirm New Password</label>
                    <input name="confirm-password" id="confirm-password" type="password" ng-keypress="reset()" ng-model="confirm"/>
                </li>

            </ul>

            <p><input type="submit" ng-click="updatePassword()" value="Update Password" />

            <p class="error" ng-show="err">{{err}}</p>
            <p class="good" ng-show="msg">{{msg}}</p>

        </form>

    </div>
</div>
<footer ng-include="'partials/footer.html'"></footer>


<!--
    <p>{{auth.user.id}}</p>

            <form>
              <input placeholder="Message..." ng-model="newList">
              <button type="submit" ng-click="addList()">send</button>
            </form>
            <ul id="messages" ng-show="Lists">
                <li ng-repeat="list in Lists | orderByPriority | reverse">{{list.text}}</li>
            </ul>
            -->