<div ng-include="getTmplUrlforAuth('partials/app-header.html','partials/public-header.html')"></div>
    <div id="content" body-class-inject="login" >
        <div class="container">
            <form id="center">
                <h1>Add New Form</h1>
                <p ng-show="err" class="error">{{err}}</p>
                <ul>
                    <li>
                        <input type="text" placeholder="Form name" ng-model="newList">
                    </li>
                </ul>
                <p><input type="submit" ng-click="addList()" value="Add New Form" /></p>
            </form>
          </ul>
        </div>
    </div>