<header id="page-header" ng-include="getTmplUrlforAuth('partials/app-header.html','partials/public-header.html')"></header>

<div body-class-inject="app form" id="content" ng-init="rowsHeader=[];rows=[];scrollTop();">

  <div class="container">

    <header>

      <h1>{{ListView.id}}{{$location.url}}</h1>

    </header>

    <div class="controls">

      <p class="left"><a ng-hide="$location.$$url==='/publicexample'" href="/list" class="breadcrumb">&lsaquo; Back to all forms</a></p>

      <div class="right">
        <p class="button" ng-click="timeoutSet('editModal','fadeIn faded','10'); editModal='faded'; bodyClassClick('app form modal-open');"; ng-hide="$location.$$url==='/publicexample'"><i class="fa fa-pencil-square-o"></i> Edit Form</p>
        <p id="download" class="button solid" ng-click="JSON2CSV(rows, labels, quotes)";><i class="fa fa-download"></i> Download CSV</p>
        <p ng-click="timeoutSet('codeModal','fadeIn faded','10'); codeModal='faded'; bodyClassClick('app form modal-open');"  class="action button"><i class="fa fa-code"></i> Get Code</p>
      </div>

    </div>

 

    <div ng-hide="rows.length>0">
      <p class="empty">No data submitted yet.</p>
    </div>


    <!-- Table starts here-->
    <div class="table-container">
     <table ng-hide="rows.length===0" ng-class="sorted">
        <tr>
          <!-- Header Loop Created from rowsHeader-->
          <th class="{{key.fireformName}}" ng-repeat="key in rowsHeader" ng-switch on="key.type" ng-init="sortVal='value'">
             <!-- switch logic for different types of forms-->
              <span ng-switch-when="_time" ng-init="reverse=false">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:reverse}, '$parent', '$parent'); reverse= reverse?false:true">
                  <i class="fa fa-clock-o field-type"></i>
                  Timestamp
                  <span ng-hide="reverse"><i class="fa fa-sort-desc"></i></span>
                  <span ng-hide="!reverse"><i class="fa fa-sort-asc"></i></span>
                </a>
              </span>

              <span ng-switch-when="checkbox" ng-init="reverse=false">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'checked',reverse:reverse}, '$parent', '$parent'); reverse= reverse?false:true">
                  <i class="fa fa-check-square-o field-type"></i>
                  {{key.fireformName}}
                  <span ng-hide="reverse"><i class="fa fa-sort-desc"></i></span>
                  <span ng-hide="!reverse"><i class="fa fa-sort-asc"></i></span>
                </a>
              </span>

              <span ng-switch-when="radio" ng-init="reverse=false">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:reverse}, '$parent', '$parent'); reverse= reverse?false:true;">
                  <i class="fa fa-dot-circle-o field-type"></i>
                  {{key.fireformName}}
                  <span ng-hide="reverse"><i class="fa fa-sort-desc"></i></span>
                  <span ng-hide="!reverse"><i class="fa fa-sort-asc"></i></span>
                </a>
              </span>

              <span ng-switch-when="text" ng-init="reverse=false">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:reverse}, '$parent', '$parent'); reverse=reverse?false:true;">
                  <i class="fa fa-font field-type"></i>
                  {{key.fireformName}}
                  <span ng-hide="reverse"><i class="fa fa-sort-desc"></i></span>
                  <span ng-hide="!reverse"><i class="fa fa-sort-asc"></i></span>
                </a>
              </span>
              
              <span ng-switch-when="number" ng-init="reverse=false">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:reverse}, '$parent', '$parent'); reverse= reverse?false:true;">
                  <i class="field-type">#</i>
                  <span>{{key.fireformName}}</span>
                  <span ng-hide="reverse"><i class="fa fa-sort-desc"></i></span>
                  <span ng-hide="!reverse"><i class="fa fa-sort-asc"></i></span>
                </a>
              </span>

              <span ng-switch-when="select-one" ng-init="reverse=false">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:reverse}, '$parent', '$parent'); reverse=reverse?false:true;">
                  <i class="fa fa-list-ul field-type"></i>
                  <span>{{key.fireformName}}</span>
                  <span ng-hide="!reverse"><i class="fa fa-sort-desc"></i></span>
                  <span ng-hide="reverse"><i class="fa fa-sort-asc"></i></span>
                </a>
              </span>

              <span ng-switch-when="email" ng-init="reverse=false">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:reverse}, '$parent', '$parent'); reverse=reverse?false:true;">
                  <i class="fa fa-envelope field-type"></i>
                  {{key.fireformName}}
                  <span ng-hide="reverse"><i class="fa fa-sort-desc"></i></span>
                  <span ng-hide="!reverse"><i class="fa fa-sort-asc"></i></span>
                </a>
              </span>

          </th>
        </tr>
        <tr ng-repeat="item in rows | orderObjectBy:predicate.col:predicate.value:predicate.reverse" >
          <td ng-switch on="item[ffkey].type" ng-repeat="key in rowsHeader" ng-init="ffkey=key.fireformName">
            <span ng-switch-when="_time">{{item[ffkey].value | date:'EEEE h:mma, MM/dd/yy'}}</span>
            <span ng-switch-when="checkbox">{{item[ffkey].checked}}</span>
            <span ng-switch-default>{{item[ffkey].value}}</span>
          </td>
        </tr>
      </table>

    </div>
      
    <p><a ng-hide="$location.$$url==='/publicexample' || rows.length===0" href="/list">&lsaquo; Back to all forms</a></p>
      <div class="right" ng-hide="!user.emailAuth">
        <div class="right email-options">
          <h3><i class="fa fa-envelope-o"></i> Email Notifications</h3>
          <p class="button send"  ng-class="ListView.emailConfirmation?'on':'off'" ng-click="ListView.emailConfirmation=ListView.emailConfirmation?false:true" ><i class="fa fa-level-up"></i> Send Confirmation</p>
          <p class="button get"  ng-class="ListView.emailNotification?'on':'off'" ng-click="setEmailNotification()" ><i class="fa fa-level-down"></i> Get Notifications</p>
        </div>
      </div>

  </div>
</div>

<footer ng-include="'partials/footer.html'"></footer>


<div class="modal faded" ng-class="codeModal" ng-init="codeModal='hide';snippet=true;">
  <div class="modal-content">
    <button ng-hide="!snippet" ng-click="snippet=snippet?false:true" style="float:right;">Boilerplate Form</button>
    <button ng-hide="snippet" ng-click="snippet=snippet?false:true" style="float:right;">JavaScript Snippet</button>

    <div ng-hide="!snippet">
      <h2>JavaScript Snippet</h2> 
      <p>Copy this snippet and paste it into your HTML underneath your &lt;form&gt;.</p>
      <pre style="overflow:hidden;" highlight="$location.absUrl()"><code> 
        &lt;script type="application/javascript" src="http://fireform.org/fireform.js"&gt;&lt;/script&gt;
        &lt;script type="application/javascript"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;new Fireform('#MySelector', '{{location}}');
        &lt;/script&gt;
       </code></pre>
    </div>
    <div ng-hide="snippet">
      <h2>Boilerplate Form</h2>
      <pre style="overflow:hidden;" highlight="$location.absUrl()"><code>
      &lt;!doctype html&gt;
        &lt;body&gt;
          &lt;form id="MySelector"&gt;
            &lt;input type="text" name="givenname" placeholder="Name"&gt;
            &lt;input type="text" name="message" placeholder="Message"&gt;
            &lt;input type="submit"&gt;
          &lt;/form&gt;

          &lt;script type="application/javascript" src="http://fireform.org/fireform.js"&gt;&lt;/script&gt;
          &lt;script type="application/javascript"&gt;
              /* See more options at http://fireform.org/docs */
               var options = {
                  simpleValidation:false,
                  successClass: "custom-submit-success",
                  callback:function(err, val){console.log(err,'callback')}
                }
              new Fireform('#MySelector', '{{location}}', options)
          &lt;/script&gt;
      &lt;/body&gt;
     </code></pre>
     </div>
    <p class="close-button" ng-click="codeModal='hide'; bodyClassClick('app form');"><i class="fa fa-times"></i></p> 
  </div>
</div>

<div class="modal" ng-class="editModal" ng-init="editModal='hide'">
  <div class="modal-content">

      <h3>Edit {{ListView.id}}</h3>

      <section ng-hide="!user.emailAuth">
        <h4><i class="fa fa-envelope-o"></i> Email Options</h4>
        <p class="button send"  ng-class="ListView.emailConfirmation?'on':'off'" ng-click="ListView.emailConfirmation=ListView.emailConfirmation?false:true" ><i class="fa fa-level-up"></i> Send Confirmation</p>
        <p class="button get"  ng-class="ListView.emailNotification?'on':'off'" ng-click="setEmailNotification()" ><i class="fa fa-level-down"></i> Get Notifications</p>
      </section>

      <section>
        <h4>CSV Export Options</h4>
        <ul class="inline">
          <li>
            <input type="checkbox" name="labels" id="labels" ng-model="labels" ng-init="labels=true" ng-checked="labels">
            <label for="labels">CSV labels</label>
          </li>
          <li>
            <input type="checkbox" name="quotes" id="quotes" ng-model="quotes" ng-init="quotes=false">
            <label for="quotes">CSV Quotes</label>
          </li>
        </ul>
      </section>

      <p id="delete" class="button"><i class="fa fa-trash-o"></i> Delete Form</p>

      <div id="delete-confirmation" ng-class="deleteConfirmation" ng-init="deleteConfirmation='hide'">
        <p>Are you sure you want to delete "{{ListView.id}}"?</p>
        <button ng-click="deleteList()">Confirm</button> 
      </div>

      <p class="close-button" ng-click="editModal='hide'; bodyClassClick('app form');"><i class="fa fa-times"></i></p> 

  </div>

  <!-- This pulls data into a directive where we formate it for the root scope-->
  <div style="display:none;" tabletop ng-repeat="(keyF, valueF) in ListView.formPosts" ></div>  

</div>

