<div ng-include="getTmplUrlforAuth('partials/app-header.html','partials/public-header.html')"></div>


<!-- Kill me -->
<style>
  .overflow{
    overflow: hidden;
  }
  .modal{
    position:fixed;
    top: 0px;
    left:0px;
    background: rgba(0, 0, 0, 0.5); 
    width:100%;
    height:100%;
  }
  .modal .modal-inner{
    margin: 200px auto;
    background-color: #eee;
    width: 70%;
    padding: 50px;
    font-size: 1.2em;
  }

  .faded{
    opacity: 0;
    -webkit-transition: opacity .1s ease-in;
       -moz-transition: opacity .1s ease-in;
        -ms-transition: opacity .1s ease-in;
         -o-transition: opacity .1s ease-in;
            transition: opacity .1s ease-in;
  }

  .fadeIn{
    opacity: 1;
  }

  table, th, td
    {
    border: 1px solid black;
    padding: 4px;
    }
</style>
<!-- Kill me -->

<div body-class-inject="" id="content" ng-init="rowsHeader=[];rows=[];scrollTop();">

  <div class="container">

    <a ng-hide="$location.$$url==='/publicexample'" href="/list"><- back to list</a>

    <h1>{{ListView.id}}{{$location.url}}</h1>



    <p ng-hide="$location.$$url!=='/publicexample'">Use this <a target="_blank" href='http://fireform/example/'>example form</a> to make a post!</p>
    
    <a ng-click="timeoutSet('deleteModal','fadeIn faded','10'); deleteModal='faded'"; style="float:right;" ng-hide="$location.$$url==='/publicexample'">Delete</a>
    <br>
    <br>
    <div style="float:right; text-align:right;">
      <a ng-click="JSON2CSV(rows, labels, quotes)";>Download CSV</a>
      <br>
      <input type="checkbox" ng-model="labels" ng-init="labels=true" ng-checked="labels"> CSV labels
      <input type="checkbox" ng-model="quotes" ng-init="quotes=false"> CSV Quotes
    </div>
    <p ng-click="timeoutSet('codeModal','fadeIn faded','10'); codeModal='faded'; bodyClassClick('overflow');"  class="action button">Get Code</p>

    
    <div tabletop ng-repeat="(keyF, valueF) in ListView.formPosts" ></div><!-- Do this in controller scope some how-->   

    <div ng-hide="rows.length>0">
      No data submitted yet.
    </div>
     <table ng-hide="rows.length===0" ng-class="sorted" class="friend" >
        <tr>
          <th class="{{key.fireformName}}" ng-repeat="key in rowsHeader" ng-switch on="key.type" ng-init="sortVal='value'">

              <span ng-switch-when="_time">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:false}, '$parent', '$parent');">{{key.fireformName}}</a>
                <a  class="dec" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:true}, '$parent', '$parent');">&#9660;</a>
                <span>|</span>
                <input  type="checkbox" disabled checked>
              </span>

              <span ng-switch-when="checkbox">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'checked',reverse:false}, '$parent', '$parent');">{{key.fireformName}}</a>
                <a  class="dec" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'checked',reverse:true}, '$parent', '$parent');">&#9660;</a>
                <span>|</span>
                <input  type="checkbox" disabled checked>
              </span>

              <span ng-switch-when="radio">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:false}, '$parent', '$parent');">{{key.fireformName}}</a>
                <a  class="dec" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:true}, '$parent', '$parent');">&#9660;</a>
                <span>|</span>
                <input disabled type="radio">
              </span>

              <span ng-switch-when="text">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:false}, '$parent', '$parent');">{{key.fireformName}}</a>
                <a  class="dec" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:true}, '$parent', '$parent');">&#9660;</a>
                <span>|</span>
                <i>txt</i>
              </span>
              
              <span ng-switch-when="number">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:false}, '$parent', '$parent');">{{key.fireformName}}</a>
                <a  class="dec" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:true}, '$parent', '$parent');">&#9660;</a>
                <span>|</span>
                <i>#</i>
              </span>

              <span ng-switch-when="select-one">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:false}, '$parent', '$parent');">{{key.fireformName}}</a>
                <a  class="dec" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:true}, '$parent', '$parent');">&#9660;</a>
                <span>|</span>
                <select size="0"  disabled  type="select"><option>-</option></select>
              </span>

          </th>
        </tr>

        <tr ng-repeat="item in rows | orderObjectBy:predicate.col:predicate.value:predicate.reverse" >
          <td ng-switch on="item[ffkey].type" ng-repeat="key in rowsHeader" ng-init="ffkey=key.fireformName">

            <span ng-switch-when="_time">{{item[ffkey].value | date:'EEEE h:mma, MM/dd/yy'}}</span>
            <span ng-switch-when="checkbox">{{item[ffkey].checked}}</span>

            <span ng-switch-default>{{item[ffkey].value}}</span>



          </td>
        </tr>
      </table>

      <br>
      <a ng-hide="$location.$$url==='/publicexample' || rows.length===0" href="/list"><- back to list</a>


  </div>
</div>

<div  class="modal faded" ng-class="codeModal" ng-init="codeModal='hide'">
  <div class="modal-inner">
    <div>Copy This into your HTML</div>  
    <br>
    <pre style="overflow:hidden;" highlight="$location.absUrl()"><code> 
      &lt;script type="application/javascript" src="http://fireform.org/fireform.js"&gt;&lt;/script&gt;
      &lt;script type="application/javascript"&gt;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;new Fireform('#MySelector', '{{location}}');
      &lt;/script&gt;
     </code></pre>
     <br>
      <pre style="overflow:hidden;" highlight="$location.absUrl()"><code>
      &lt;!doctype html&gt;
        &lt;body&gt;
          &lt;form id="MySelector"&gt;
            &lt;input type="text" name="givenname" placeholder="Name"&gt;
            &lt;input type="number" name="age" placeholder="Age"&gt;
            Southpaw:&lt;input type="checkbox" name="southpaw"&gt;
            Bantamweight:&lt;input type="radio" name="weightclass" value="bantamweight"&gt;
            Welterweight:&lt;input type="radio" name="weightclass" value="Welterweight"&gt;
            HeavyWeight:&lt;input type="radio"  name="weightclass" value="HeavyWeight"&gt;
            &lt;input type="submit"&gt;
          &lt;/form&gt;

          &lt;script type="application/javascript" src="http://fireform.org/fireform.js"&gt;&lt;/script&gt;
          &lt;script type="application/javascript"&gt;
              /* See how to customize at http://fireform.org/docs */
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;new Fireform('#MySelector', '{{location}}', {simpleValidation:false});
          &lt;/script&gt;
      &lt;/body&gt;
     </code></pre>
     <br>
    <button ng-click="codeModal='hide'; bodyClassClick('');">close</button> 
  </div>
</div>


<div  class="modal" ng-class="deleteModal" ng-init="deleteModal='hide'">
  <div class="modal-inner">
      <div>Are you sure you want to delete "{{ListView.id}}"? </div>  
      <br>
      <button ng-click="deleteList()">Confirm</button> 
      <button ng-click="deleteModal='hide'; bodyClassClick('');">close</button> 

  </div>
</div>
