<header id="page-header" ng-include="getTmplUrlforAuth('partials/app-header.html','partials/public-header.html')"></header>
<!-- Kill me -->
<style>
  .overflow{
    overflow: hidden;
  }
  .modal{
    position:fixed;
    top: 0px;
    left:0px;
    background: rgba(0, 0, 0, 0.5); 
    width:100%;
    height:100%;
    overflow: scroll;
  }
  .modal .modal-inner{
    margin: 200px auto;
    background-color: #eee;
    width: 70%;
    padding: 50px;
    font-size: 1.2em;
  }

  .faded{
    opacity: 0;
    -webkit-transition: opacity .1s ease-in;
       -moz-transition: opacity .1s ease-in;
        -ms-transition: opacity .1s ease-in;
         -o-transition: opacity .1s ease-in;
            transition: opacity .1s ease-in;
  }

  .fadeIn{
    opacity: 1;
  }

  .email-options .button{
    background-color: #2d6199;
    color:#fff;

  }
  .email-options .off .check{
    display:none;
  }

  .email-options .off{
    background-color: rgba(255, 255, 255, 0);
    color: #666;
  }

</style>
<!-- Kill me -->


<div body-class-inject="app form" id="content" ng-init="rowsHeader=[];rows=[];scrollTop();">

  <div class="container">
    <header>
      <h1>{{ListView.id}}{{$location.url}}</h1>
      <div class="right">
        <p id="delete" class="button" ng-click="timeoutSet('deleteModal','fadeIn faded','10'); deleteModal='faded'"; ng-hide="$location.$$url==='/publicexample'"><i class="fa fa-trash-o"></i> Delete</p>
        <p ng-click="timeoutSet('codeModal','fadeIn faded','10'); codeModal='faded'; bodyClassClick('app form overflow');"  class="action button"><i class="fa fa-code"></i> Get Code</p>
      </div>
    </header>





    <div class="controls">
      <p class="left"><a ng-hide="$location.$$url==='/publicexample'" href="/list" class="breadcrumb">&lsaquo; Back to all forms</a></p>
      <div class="right">
        <ul class="inline">
          <li>
            <input type="checkbox" name="labels" id="labels" ng-model="labels" ng-init="labels=true" ng-checked="labels">
            <label for="labels">CSV labels</label>
          </li>
          <li>
            <input type="checkbox" name="quotes" id="quotes" ng-model="quotes" ng-init="quotes=false">
            <label for="quotes">CSV Quotes</label>
          </li>
        </ul>
        <p id="download" class="button solid" ng-click="JSON2CSV(rows, labels, quotes)";><i class="fa fa-download"></i> Download CSV</p>
      </div>
    </div>

 

    <div ng-hide="rows.length>0">
      No data submitted yet.
    </div>


    <!-- Table starts here-->
    <div class="table-container">
     <table ng-hide="rows.length===0" ng-class="sorted">
        <tr>
          <!-- Header Loop Created from rowsHeader-->
          <th class="{{key.fireformName}}" ng-repeat="key in rowsHeader" ng-switch on="key.type" ng-init="sortVal='value'">
             <!-- switch logic for different types of forms-->
              <span ng-switch-when="_time" ng-init="reverse=false">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:reverse}, '$parent', '$parent'); reverse= reverse?false:true">
                  <i class="fa fa-clock-o field-type"></i>
                  Timestamp
                  <span ng-hide="reverse"><i class="fa fa-sort-desc"></i></span>
                  <span ng-hide="!reverse"><i class="fa fa-sort-asc"></i></span>
                </a>
              </span>

              <span ng-switch-when="checkbox" ng-init="reverse=false">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'checked',reverse:reverse}, '$parent', '$parent'); reverse= reverse?false:true">
                  <i class="fa fa-check-square-o field-type"></i>
                  {{key.fireformName}}
                  <span ng-hide="reverse"><i class="fa fa-sort-desc"></i></span>
                  <span ng-hide="!reverse"><i class="fa fa-sort-asc"></i></span>
                </a>
              </span>

              <span ng-switch-when="radio" ng-init="reverse=false">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:reverse}, '$parent', '$parent'); reverse= reverse?false:true;">
                  <i class="fa fa-dot-circle-o field-type"></i>
                  {{key.fireformName}}
                  <span ng-hide="reverse"><i class="fa fa-sort-desc"></i></span>
                  <span ng-hide="!reverse"><i class="fa fa-sort-asc"></i></span>
                </a>
              </span>

              <span ng-switch-when="text" ng-init="reverse=false">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:reverse}, '$parent', '$parent'); reverse=reverse?false:true;">
                  <i class="fa fa-font field-type"></i>
                  {{key.fireformName}}
                  <span ng-hide="reverse"><i class="fa fa-sort-desc"></i></span>
                  <span ng-hide="!reverse"><i class="fa fa-sort-asc"></i></span>
                </a>
              </span>
              
              <span ng-switch-when="number" ng-init="reverse=false">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:reverse}, '$parent', '$parent'); reverse= reverse?false:true;">
                  <i class="field-type">#</i>
                  <span>{{key.fireformName}}</span>
                  <span ng-hide="reverse"><i class="fa fa-sort-desc"></i></span>
                  <span ng-hide="!reverse"><i class="fa fa-sort-asc"></i></span>
                </a>
              </span>

              <span ng-switch-when="select-one" ng-init="reverse=false">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:reverse}, '$parent', '$parent'); reverse=reverse?false:true;">
                  <i class="fa fa-list-ul field-type"></i>
                  <span>{{key.fireformName}}</span>
                  <span ng-hide="!reverse"><i class="fa fa-sort-desc"></i></span>
                  <span ng-hide="reverse"><i class="fa fa-sort-asc"></i></span>
                </a>
              </span>

              <span ng-switch-when="email" ng-init="reverse=false">
                <a class="asc" href="javascript:null" root-scope ng-click="setVarInScope('predicate',{col:key.fireformName,value:'value',reverse:reverse}, '$parent', '$parent'); reverse=reverse?false:true;">
                  <i class="fa fa-envelope field-type"></i>
                  {{key.fireformName}}
                  <span ng-hide="reverse"><i class="fa fa-sort-desc"></i></span>
                  <span ng-hide="!reverse"><i class="fa fa-sort-asc"></i></span>
                </a>
              </span>

          </th>
        </tr>
        <tr ng-repeat="item in rows | orderObjectBy:predicate.col:predicate.value:predicate.reverse" >
          <td ng-switch on="item[ffkey].type" ng-repeat="key in rowsHeader" ng-init="ffkey=key.fireformName">
            <span ng-switch-when="_time">{{item[ffkey].value | date:'EEEE h:mma, MM/dd/yy'}}</span>
            <span ng-switch-when="checkbox">{{item[ffkey].checked}}</span>
            <span ng-switch-default>{{item[ffkey].value}}</span>
          </td>
        </tr>
      </table>

    </div>
      
    <p><a ng-hide="$location.$$url==='/publicexample' || rows.length===0" href="/list">&lsaquo; Back to all forms</a></p>


  </div>
</div>

<footer ng-include="'partials/footer.html'"></footer>



 <div class="modal" ng-class="codeModal" ng-init="codeModal='hide faded';snippet=true;initHighlighting();" >
  <div class="modal-content">
    <button ng-hide="!snippet" ng-click="snippet=snippet?false:true" style="float:right;">Boilerplate Form</button>
    <button ng-hide="snippet" ng-click="snippet=snippet?false:true" style="float:right;">JavaScript Snippet</button>

<div ng-hide="!snippet">
    <div ng-hide="!ListView.emailConfirmation && ListView.emailNotification || ListView.emailConfirmation && !ListView.emailNotification || !ListView.emailConfirmation && !ListView.emailNotification" 
          ng-include="'partials/snippet/default-notification-confirmation.html'">
    </div>
    <div ng-hide="ListView.emailConfirmation && !ListView.emailNotification || ListView.emailConfirmation && ListView.emailNotification || !ListView.emailConfirmation && !ListView.emailNotification" 
          ng-include="'partials/snippet/default-notification.html'">
    </div>
    <div ng-hide="!ListView.emailConfirmation && ListView.emailNotification || ListView.emailConfirmation && ListView.emailNotification || !ListView.emailConfirmation && !ListView.emailNotification" 
         ng-include="'partials/snippet/default-confirmation.html'">
    </div>
    <div ng-hide="ListView.emailConfirmation && !ListView.emailNotification || !ListView.emailConfirmation && ListView.emailNotification || ListView.emailConfirmation && ListView.emailNotification" 
          ng-include="'partials/snippet/default.html'"></div>
</div>
<div ng-hide="snippet">
    <div ng-hide="!ListView.emailConfirmation && ListView.emailNotification || ListView.emailConfirmation && !ListView.emailNotification || !ListView.emailConfirmation && !ListView.emailNotification" 
          ng-include="'partials/snippet/boiler-notification-confirmation.html'">
    </div>
    <div ng-hide="ListView.emailConfirmation && !ListView.emailNotification || ListView.emailConfirmation && ListView.emailNotification || !ListView.emailConfirmation && !ListView.emailNotification" 
          ng-include="'partials/snippet/boiler-notification.html'">
    </div>
    <div ng-hide="!ListView.emailConfirmation && ListView.emailNotification || ListView.emailConfirmation && ListView.emailNotification || !ListView.emailConfirmation && !ListView.emailNotification" 
         ng-include="'partials/snippet/boiler-confirmation.html'">
    </div>
    <div ng-hide="ListView.emailConfirmation && !ListView.emailNotification || !ListView.emailConfirmation && ListView.emailNotification || ListView.emailConfirmation && ListView.emailNotification" 
          ng-include="'partials/snippet/boiler.html'"></div>
</div>
      <div class="right" ><!--<div class="right" ng-hide="!user.emailAuth">-->        
        <div class="right email-options">
          <p class="button"  ng-class="ListView.emailConfirmation?'on':'off'" ng-click="setEmailConfirmation()" ></i> Send Email Confirmation<i class="check fa fa-check"></i></p>
          <p class="button"  ng-class="ListView.emailNotification?'on':'off'" ng-click="setEmailNotification()" ></i> Get Email Notification<i class="check fa fa-check"></i></p>
        </div>
      </div>


    <p class="close-button" ng-click="codeModal='hide'; bodyClassClick('app form');"><i class="fa fa-times"></i></p> 
  </div>
</div>


<div  class="modal" ng-class="deleteModal" ng-init="deleteModal='hide'">
  <div class="modal-content">
      <div>Are you sure you want to delete "{{ListView.id}}"? </div>  
      <br>
      <button ng-click="deleteList()">Confirm</button> 
      <p class="close-button" ng-click="deleteModal='hide'; bodyClassClick('app form');"><i class="fa fa-times"></i></p> 

  </div>

    <!-- This pulls data into a directive where we formate it for the root scope-->
    <div style="display:none;" tabletop ng-repeat="(keyF, valueF) in ListView.formPosts" ></div>  

</div>
