<header ng-include="getTmplUrlforAuth('partials/app-header.html','partials/public-header.html')"></header>
<app-header body-class-inject="app list" ng-init="scrollTop();"></app-header>
<div id="content">
  <div class="container">
    <h1>Form List</h1>
    <ul id="messages" ng-show="Lists" class="wrapped">
      <li ng-hide="!list.id" ng-repeat="list in Lists">
        <a href="/list/{{auth.user.uid.replace('simplelogin:','')}}/{{list.id}}">
          <h2>{{list.id}}</h2>

          <p class="post-number"><span count="list.formPosts">{{count}} posts</span></p>

          <p class="post-timestamp" ng-hide="!mostRecent">
            <span most-recent="list.formPosts">Last post on {{mostRecent|date:'EEEE h:mma, MM/dd/yy' }}</span>
		      </p>

        </a>
      </li>
    </ul>
  </div>
  <footer ng-include="'partials/footer.html'"></footer>
</div>
