<div body-class-inject="home public" id="center">
    <p id="tagline">Hook your website &#60;<span style="color:#8e2409;">form</span>&#62; into a hosted private backend.</p>
    <h1>Fireform</h1>
    <p><a href="#signup" class="action button">Sign Up</a></p>
  </div>
  <p>
    <a target="_blank" href="/example">Example Form</a>
    <span>|</span>
    <a href="/publicexample">Example List</a>
  </p>
  <nav id="home-nav">
    <ul>
      <li><a href="/docs">Documentation</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
    <p><a href="https://github.com/sfdevlabs/fireform">GitHub Project</a></p>
</div>
