<p id="login"><a href="/login">Login</a></p>

<div class="container">

  <div body-class-inject="home public">
    <h1>Fireform</h1>
    <section>
      <p id="tagline">Hook your website &#60;<em>form</em>&#62; into a hosted private backend.</p>
      <ul class="three-up">
        <li>
          <img src="/img/generate-fireform-code.png" alt="Generate a Fireform code" />
          <p>Generate a Fireform code</p>
        </li>
        <li>
          <img src="/img/paste-fireform-code-into-html.png" alt="Paste the Fireform code into your HTML" />
          <p>Paste the code into your HTML</p>
        </li>
        <li>
          <img src="/img/collect-data-with-fireform.png" alt="Collect data with Fireform's backend" />
          <p>Collect your data</p>
        </li>
      </ul>
      <p id="sign-up"><a href="#signup" class="action button">Sign Up</a></p>
    </section>
  </div>

  <section id="about">
    <h2>See an example.</h2>
    <ul class="demo">
      <li>
        <a target="_blank" href="/example" class="block">
          <i class="fa fa-list-alt"></i>
          <p>Demo Form</p>
        </a>
      </li>
      <li>
        <a href="/publicexample" class="block">
          <i class="fa fa-table"></i>
          <p>Demo Backend</p>
        </a>
      </li>
    </ul>
    <h2>Or read our <a ng-click="scrollTop()" href="/docs">documentation</a>.</h2>
  </section>

  <section id="powered-by">
    <h2>Powered by</h2>
    <ul class="inline">
      <li>
        <a href="http://www.firebase.com/" target="_blank"><img width="150px" src="http://szimek.github.io/presentation-firebase-intro/images/firebase_logo.png"></a>
      </li>
      <li>
        <a href="http://angularjs.org/" target="_blank"><img width="150px" src="http://pascalprecht.github.io/slides/angularjs-insights/img/angularjs-logo.png"></a>
      </li>
    </ul>
  </section>

  <footer ng-include="'partials/footer.html'"></footer>
</div>
