<div ng-include="getTmplUrlforAuth('partials/app-header.html','partials/public-header.html')"></div>

  <div class="container" body-class-inject="public signup">
    <form id="center">
      <h1>Sign Up</h1>
      <p ng-show="err" class="error">{{err}}</p>
      <ul>
        <li>
          <label for="email">Email</label>
          <input id="email" type="text" name="email" ng-model="email" placeholder="Name@email.com"/>
        </li>
        <li>
          <label for="password">Password</label>
          <input id="password" type="password" name="password" ng-model="pass" placeholder="Password"/>
        </li>
        <li id="first-form">
          <label for="form-name">Name your first form!</label>
          <input id="form-name" type="text" name="form-name" ng-model="formName" placeholder="Name your first form"/>
        </li>
      </ul>
      <p>
        <input id="submit" ng-click="createAccount()" type="submit" name="submit" value="Create Account"/>
      </p>
    </form>
  </div>
</div>