// ----------------------------------------------------------------------------
// Functions from https://github.com/jenius/axis
// ----------------------------------------------------------------------------

// @public unitless() function borrowed from SASS
// TODO: move this to a utilities file
-unitless(number)
  unit(number) is ''

// @public Function.
// True if a number has a relative unit.
-relative-unit(number)
  unit(number) is '%' or unit(number) is 'em' or unit(number) is 'rem'

// @public Function.
// True if a number has an absolute unit.
-absolute-unit(number)
  not (-relative-unit(number) or -unitless(number))

// @public function - Calculate rhythm units.
-rhythm(lines = 1, font-size = base-font-size, offset = 0)
  if (not relative-font-sizing) and (font-size is not base-font-size)
    warn('relative-font-sizing is false but a relative font size was passed to the rhythm function')
  rhythm = font-unit * (lines * base-line-height - offset) / font-size
  // Round the pixels down to nearest integer.
  if unit(rhythm) is 'px'
    rhythm = floor(rhythm)
  return rhythm

// @private Function - Calculate the minimum multiple of rhythm units needed to contain the font-size.
-lines-for-font-size(font-size)
  lines = round-to-nearest-half-line ? ceil(2 * font-size / base-line-height) / 2 : ceil(font-size / base-line-height)
  if lines * base-line-height - font-size < min-line-padding * 2
    lines = lines + (round-to-nearest-half-line ? 0.5 : 1)
  return unit(lines, '')