article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
  display block

audio,canvas,video
  display inline-block
  *display inline
  *zoom 1

audio
  &:not([controls])
    display none
    height 0

[hidden]
  display none

html
  font-family base-font-family
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  font-size 100%
  line-height 1.25em

button,input,select,textarea
  font-family base-font-family
  font-family inherit
  font-size 100%
  margin 0
  vertical-align baseline
  *vertical-align middle

body
  margin 0
  line-height 1
  color #000
  background #fff

a
  &:focus
    outline thin dotted
  img
    border none

a:active,a:hover
  outline 0

p,pre
  margin 1.25em 0

blockquote
  margin 1.25em indent-amount

abbr[title]
  border-bottom 1px dotted

b,strong
  font-weight bold

dfn
  font-style italic

hr
  -moz-box-sizing content-box
  -webkit-box-sizing content-box
  -moz-box-sizing content-box
  box-sizing content-box
  height 0

mark
  background #ff0
  color #000

code,kbd,pre,samp
  font-family monospace,serif
  _font-family 'courier new',monospace
  font-size 1em
  line-height 1.25em

pre
  white-space pre-wrap

q
  quotes "\201C" "\201D" "\2018" "\2019"

small
  font-size 80%

sub,sup
  font-size 75%
  line-height 0
  position relative
  vertical-align baseline

sup
  top -.5em

sub
  bottom -.25em

dl,menu,ol,ul
  margin 1.25em 0
  padding 0 0 0 indent-amount

dl
  padding 0

dd
  margin 0 0 0 indent-amount

nav ul,nav ol
  list-style none
  list-style-image none

img
  border 0
  -ms-interpolation-mode bicubic

svg
  &:not(:root)
    overflow hidden

figure
  margin 0

form
  margin 0

fieldset
  border-color #c0c0c0
  margin 0 2px
  border-top-style solid
  border-top-width .0625em
  padding-top 1.1875em
  border-bottom-style solid
  border-bottom-width .0625em
  padding-bottom 1.1875em
  border-left-style solid
  border-left-width .0625em
  padding-left 1.1875em
  border-right-style solid
  border-right-width .0625em
  padding-right 1.1875em

legend
  border 0
  padding 0
  *margin-left -7px

button,input
  line-height normal

button,select
  text-transform none

button,html input[type="button"],input[type="reset"],input[type="submit"]
  -webkit-appearance button
  cursor pointer
  *overflow visible

button[disabled],html input[disabled]
  cursor default

input[type="checkbox"],input[type="radio"]
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  padding 0
  *height 13px
  *width 13px

input[type="search"]
  -webkit-appearance textfield
  -webkit-box-sizing content-box
  -moz-box-sizing content-box
  box-sizing content-box

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration
  -webkit-appearance none

button::-moz-focus-inner,input::-moz-focus-inner
  border 0
  padding 0

textarea
  overflow auto
  vertical-align top

table
  border-collapse collapse
  border-spacing 0
  border-collapse separate
  border-spacing 0
  vertical-align middle

nav,article,section,ul,div,p
  zoom 1

nav:before,article:before,section:before,ul:before,div:before,p:before,nav:after,article:after,section:after,ul:after,div:after,p:after
  content ""
  display table

nav:after,article:after,section:after,ul:after,div:after,p:after
  clear both

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
  margin 0
  padding 0
  border 0
  outline 0
  font-weight inherit
  font-style inherit
  font-family inherit
  font-size 100%
  vertical-align baseline

ol,ul
  list-style none

caption,th,td
  text-align left
  font-weight normal
  vertical-align middle

