extends app-layout

block content
	div.container
		form#center
			h1 Add a Form
			ul
				li
					input(type="text", name="email", id="email", placeholder="Form Name")
			p
				input(type="submit", name="submit", id="submit", value="Add New Form")