<tmpl-auth-include
  loggedin-src="partials/app-header.html" 
  loggedout-src="partials/public-header.html" >
</tmpl-auth-include>


<app-header></app-header>
<div id="content" body-class-inject="login" >
    <div class="container">
        <h1>Account</h1>
        <form id="left">

            <h2>Contact Info</h2>

            <ul>

                <li>
                    <label for="name">First Name</label>
                    <input id="name" name="name" type="text" name="name" ng-model="user.name"/>
                </li>

                <!-- Jeff can we please break it into first and last name? Better practice imo -->
                <li>
                    <label for="name">Last Name</label>
                    <input id="name" name="name" type="text" name="name" ng-model="user.name"/>
                </li>

                <li>
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" name="name" ng-model="user.email"/>
                </li>

            </ul>
            <p><input type="submit" ng-click="updateProfile()" value="Update Contact Info" />

            <p class="error" ng-show="err">{{err}}</p>
            <p class="good" ng-show="msg">{{msg}}</p>
        </form>

        <form id="right">

            <h2>Change Password</h2>

            <ul>

                <li>
                    <label for="old-password">Old Password</label>
                    <input id="old-password" name="old-password" type="password" ng-keypress="reset()" ng-model="oldpass"/>
                </li>

                <li>
                    <label for="new-password">New Password</span>
                    <input name="new-password" id="confirm-password" type="password" ng-keypress="reset()" ng-model="newpass"/>
                </li>

                <li>
                    <label for="confirm-password">Confirm New Password</label>
                    <input name="confirm-password" id="confirm-password" type="password" ng-keypress="reset()" ng-model="confirm"/>
                </li>

            </ul>

            <p><input type="submit" ng-click="updatePassword()" value="Update Password" />

            <p class="error" ng-show="err">{{err}}</p>
            <p class="good" ng-show="msg">{{msg}}</p>

        </form>

    </div>
</div>

<!--
    <p>{{auth.user.id}}</p>

            <form>
              <input placeholder="Message..." ng-model="newList">
              <button type="submit" ng-click="addList()">send</button>
            </form>
            <ul id="messages" ng-show="Lists">
                <li ng-repeat="list in Lists | orderByPriority | reverse">{{list.text}}</li>
            </ul>
            -->