<tmpl-auth-include
  loggedin-src="partials/app-header.html" 
  loggedout-src="partials/public-header.html" >
</tmpl-auth-include>
    <div id="content" body-class-inject="login" >
        <div class="container">
            <form id="center">
                <h1>Add New Form</h1>
                <ul>
                    <li>
                        <input type="text" placeholder="Form name" ng-model="newList">
                    </li>
                </ul>
                <p><input type="submit" ng-click="addList()" value="Add New Form" /></p>
            </form>
          </ul>
        </div>
    </div>