header
    nav.container.shell
        h1
            a(href="#/home") Fireform
        ul(show-on-auth)                
            li.nav-add
                a(href="#/add") Add New Form
            li.nav-list
                a(href="#/list") Form List
            li.nav-account
                a(href="#/account") Account
            li
                a(href="#/logout") Logout

 