ul.menu
    li
        a(href='#/list') list
      li
        a(href='#/account') account
      li(ng-show-auth='logout,error')
        a(href='#/login') login
      li(ng-show-auth='login')
        a(href='#/account') account
      | dd
