public-header
  #content(body-class='signup')
      .container
        h1 Docs
        nav#left
          ul
            li
              a(href='#getting-started') Getting Started
            li
              a(href='#options') Options
            li
              a(href='#examples') Examples
        section#right
          article#getting-started
            h2 Getting Started
          article#options
            h2 Options
          article#examples
            h2 Examples