<inject-body-class inject-classes="home">


	<public-header></public-header>

	<div class="container" ng-show-auth="logout">
		<div id="center">
		  <p id="tagline">Hook your forms into a built-in, hosted backend.</p>
		  <h1>Fireform</h1>
		  <p><a href="/signup" class="action button">Sign Up</a></p>
		</div>
		<nav id="home-nav">
		  <ul>
		    <li><a href="#docs">Documentation</a></li>
		    <li><a href="#login">Login</a></li>
		  </ul>
		</nav>
	</div>

	<div class="container" ng-show-auth="login">
		<h1>Latest Activity</h1>
	</div>

	
		<!--<h2>Home</h2>


		<ul>
			<li>
				<a href="#list">list</a>
			</li>

			<li>
				<a href="#docs">docs</a>
			</li>

		</ul>-->



<!-- 
<a class="status good" ng-show-auth="login">Hello! You are logged in.</a>
<a class="status" ng-show-auth="logout">Not logged in</a>
<a class="status error" ng-show-auth="error">{{auth.error}}</a>
 -->
