<tmpl-auth-include
  loggedin-src="partials/app-header.html" 
  loggedout-src="partials/public-header.html" >
</tmpl-auth-include>




<!-- Kill me -->
<div class="modal" ng-class="modal1" ng-init="modal1='hide'">
  <button ng-click="modal1='hide'; bodyClassClick('');">close1</button> 
  <span>Model 1 Open Scrolling Disabled see body class .overflow</span>
</div>
<br>
<button ng-click="modal1=''; bodyClassClick('overflow');">click me1</button>

<hr>

<div class="modal" ng-class="modal2" ng-init="modal2='hide'">
  <button ng-click="modal2='hide'; bodyClassClick('');">close2</button> 
  <span>Model 2 Open Scrolling Disabled see body class .overflow</span>
</div>
<br>
<button ng-click="modal2=''; bodyClassClick('overflow');">click me2</button>
<!-- Kill me -->


<!-- Kill me -->
<style>
  .overflow{
    overflow: hidden;
  }
  .modal{
    position:fixed;
    top: 0px;
    left:0px;
    padding:200px;
    color: white;
    background: rgba(0, 0, 200, 0.6);
    width:100%;
    height:100%;
  }
</style>
<!-- Kill me -->





<div body-class-inject="" id="content">
  <div class="container">
    <h1>{{ListView.id}}</h1>
    <p ng-click="codeModal=''; bodyClassClick('overflow');"  class="action button">Get Code</p>
    <div id="code"><code>$('#myFormDiv').fireform('https://fireform.firebaseio.com/users/{{auth.user.uid}}/lists/{{ListView.id}}/formPosts');</code></div>
    <ul id="messages" ng-show="ListView.formPosts">
      <li ng-repeat="list in ListView.formPosts | orderByPriority | reverse">{{list}}</li>
    </ul>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/simplemodal/1.4.4/jquery.simplemodal.min.js"></script>
    <script>$("body").on("click", "#content .action.button", function (e) { console.log("launch modal"); $("#code").modal(); return false; });</script>
  </div>
</div>


<div  class="modal" ng-class="codeModal" ng-init="codeModal='hide'">
  <button ng-click="codeModal='hide'; bodyClassClick('');">close2</button> 
  <span>Model Code Open Scrolling Disabled see body class .overflow</span>
</div>
