inject-body-class(inject-classes="form")
app-header
div#content
	div.container
		h1 {{ListView.id}}
		p.action.button Get Code
		div#code
			code
				$('#myFormDiv').fireform('https://fireform.firebaseio.com/users/{{auth.user.uid}}/lists/{{ListView.id}}/formPosts');
		ul#messages(ng-show='ListView.formPosts')
			li(ng-repeat='list in ListView.formPosts | orderByPriority | reverse') {{list}}
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='http://cdn.jsdelivr.net/simplemodal/1.4.4/jquery.simplemodal.min.js')
		script
			$("body").on("click", "#content .action.button", function (e) { console.log("launch modal"); $("#code").modal(); return false; });
