<inject-body-class inject-classes="app list">

    <app-header></app-header>

    <div class="container">
      <h1>Form List</h1>
      <ul id="messages" class="wrapped" ng-show="Lists">
        <li ng-repeat="list in Lists | orderByPriority | reverse">
            <a href="#/list/{{list.id}}">
            <h2>{{list.id}}</h2>
            <p>Name, email, message</p></a>
        </li>
      </ul>
    </div>

    <!--<p>{{auth.user.id}}</p>

    <form>
      <input placeholder="Message..." ng-model="newList">
      <button type="submit" ng-click="addList()">send</button>
    </form>

    <ul id="messages" ng-show="Lists">
        <li ng-repeat="list in Lists | orderByPriority | reverse">

        	<a href="#/list/{{list.id}}">{{list.id}}</a>
        </li>
    </ul>

    <button ng-click="logout()">Log Out</button>-->