<tmpl-auth-include
  loggedin-src="partials/app-header.html" 
  loggedout-src="partials/public-header.html" >
</tmpl-auth-include>

<app-header body-class-inject="app list"></app-header>
<div id="content">
  <div class="container">
    <h1>Form List</h1>
    <ul id="messages" ng-show="Lists" class="wrapped">
      <li ng-repeat="list in Lists | orderByPriority | reverse"><a href="#/list/{{list.id}}">
          <h2>{{list.id}}</h2>
          <p>Name, email, message</p></a></li>
    </ul>
  </div>
</div>