public-header
  #content(body-class='login')
      .container
        form#center
          h1 Log into Fireform
          p.error(ng-show='err') {{err}}
          ul
            li
              input#email(type='text', name='email', placeholder='Name@email.com', ng-model='email')
            li
              input#password(type='password', name='password', placeholder='Password', ng-model='pass')
            li(ng-cloak='ng-cloak', ng-show='createMode')
              input#confirm-password(type='password', name='confirm-password', placeholder='Confirm password', ng-model='confirm')
          p
            input(ng-click='login()', ng-hide='createMode', type='submit', value='Login')
