.container(body-class='home public')
    #center
        span(ng-bind='bodyClass')
        p#tagline Hook your forms into a built-in, hosted backend.
        h1 Fireform
        p
          a.action.button(href='#signup') Sign Up
      nav#home-nav
        ul
          li
            a(href='#docs') Documentation
          li
            a(href='#login') Login
