header
    nav.container.shell
        h1
            a(href="#/home") Fireform
        ul(hide-on-auth)                
            li
                a(href="#/docs") Docs
            li
                a(href="#/login") Login
            li
                a(href="#/signup", class="action button") Sign Up
        ul(show-on-auth)                
            li.nav-add
                a(href="#/add") Add New Form
            li.nav-list
                a(href="#/list") Form List
            li.nav-account
                a(href="#/account") Account
            li
                a(href="#/logout") Logout
