header
    nav.container.shell
        h1
            a(href="#/home") Fireform
        ul                
            li
                a(href="#/docs") Docs
            li
                a(href="#/login") Login
            li
                a(href="#/signup", class="action button") Sign Up

