header
    nav.container.shell
        h1
            a(href="#/") Fireform
        ul                
            li.nav-docs
                a(href="#/docs") Docs
            li.nav-login
                a(href="#/login") Login
            li.nav-signup
                a(href="#/signup", class="action button") Sign Up

