
/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/stylus/lib/functions/index.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/stylus\/lib\/functions\/index\.styl}line{font-family:\000031}}

/* line 1 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\000031}}
.col {
  border: 0px solid rgba(0,0,0,0);
  float: left;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}

/* line 9 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\000039}}

/* line 13 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000313}}
.container {
  margin: 0 auto;
}

/* line 16 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000316}}
#left {
  float: left;
}

/* line 19 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000319}}
#right {
  float: right;
}

/* line 22 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000322}}
#center {
  float: none;
  margin: 0 auto;
}

/* line 27 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000327}}
@media screen and (min-width: 0em) and (max-width: 43.75em) {

/* line 29 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000329}}
  .container {
    padding: 2em 10%;
  }

/* line 32 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000332}}
  .container.shell {
    padding: 0;
  }

/* line 35 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000335}}
  .wrapped li {
    padding: 0 5%;
  }

/* line 38 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000338}}
  .col {
    float: none;
    width: 100%;
  }
}

/* line 43 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000343}}
@media screen and (min-width: 43.75em) and (max-width: 71.1875em) {

/* line 45 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000345}}
  .container {
    padding: 2em 10%;
  }

/* line 48 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000348}}
  .container.shell {
    padding: 0 10%;
  }

/* line 51 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000351}}
  .col {
    margin-right: 4%;
  }

/* line 54 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000354}}
  .col,
  .wrapped li {
    padding: 0 2%;
  }

/* line 58 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000358}}
  .row .col:last-child {
    margin-right: 0;
  }

/* line 62 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000362}}
  .span_1 {
    width: 13.3333333333%;
  }

/* line 65 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000365}}
  .span_2 {
    width: 30.6666666667%;
  }

/* line 68 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000368}}
  .span_3 {
    width: 48%;
  }

/* line 71 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000371}}
  .span_4 {
    width: 65.3333333333%;
  }

/* line 74 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000374}}
  .span_5 {
    width: 82.6666666667%;
  }

/* line 77 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000377}}
  .span_6 {
    margin-left: 0;
    width: 100%;
  }
}

/* line 82 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000382}}
@media screen and (min-width: 71.25em) {

/* line 84 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000384}}
  .container {
    max-width: 62.5em;
    padding: 2em 0;
  }

/* line 88 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000388}}
  .container.shell {
    padding: 0;
  }

/* line 91 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000391}}
  .col {
    margin-right: 4%;
  }

/* line 94 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000394}}
  .col,
  .wrapped li {
    padding: 0 2%;
  }

/* line 98 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\0000398}}
  .col:last-child {
    margin-right: 0;
  }

/* line 101 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\00003101}}
  .span_1 {
    width: 4.66666666667%;
  }

/* line 104 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\00003104}}
  .span_2 {
    width: 13.3333333333%;
  }

/* line 107 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\00003107}}
  nav#left,
  .span_3 {
    width: 22%;
  }

/* line 111 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\00003111}}
  .span_4 {
    width: 30.6666666667%;
  }

/* line 114 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\00003114}}
  .span_5 {
    width: 39.3333333333%;
  }

/* line 117 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\00003117}}
  .account #left,
  .account #right,
  #center,
  .span_6 {
    width: 48%;
  }

/* line 123 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\00003123}}
  .span_7 {
    width: 56.6666666667%;
  }

/* line 126 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\00003126}}
  .span_8 {
    width: 65.3333333333%;
  }

/* line 129 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\00003129}}
  section#right,
  .span_9 {
    width: 74%;
  }

/* line 133 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\00003133}}
  .span_10 {
    width: 82.6666666667%;
  }

/* line 136 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\00003136}}
  .span_11 {
    width: 91.3333333333%;
  }

/* line 139 : /Users/sirpunchallot/fireform/app/css/bones.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/sirpunchallot\/fireform\/app\/css\/bones\.styl}line{font-family:\00003139}}
  .span_12 {
    margin-left: 0;
    width: 100%;
  }
}
