header
    nav.container.shell
        h1
            a(href="/console") Fireform
        ul                
            li.nav-add
                a(href="/console/add") Add New Form
            li.nav-list
                a(href="/console/list") Form List
            li.nav-account
                a(href="/console/account") Account
            li
                a(href="/logout") Logout