extends app-layout

block content
	div.container
		h1 Latest Activity
		h2 Today
		ul.wrapped
			li
				a(href="/console/form") 1:05pm &mdash; Contact Form: Jeff Jenkins / jenkinsjeffrey@gmail.com / Hi, what will your hours be on Christmas Eve?
			li
				a(href="/console/form") 12:30pm &mdash; Contact Form: Eoin McMillan / eoin@sfdevlabs.com / Do you have PS4s in stock and if so, can I reserve one for pickup on Friday?
			li
				a(href="/console/form") 9:00am &mdash; Contact Form: Jehan Tremback / jehan@sfdevlabs.com / I'm wondering if Dogecoin is an acceptable payment method...thanks
			li
				a(href="/console/form") 3:55am &mdash; Contact Form: Christine Ricks / christine.ricks@gmail.com / Are headphones part of the sale happening the week of December 20th?
		h2 Yesterday
		ul.wrapped
			li
				a(href="/console/form") 1:05pm &mdash; Contact Form: Jeff Jenkins / jenkinsjeffrey@gmail.com / Hi, what will your hours be on Christmas Eve?
			li
				a(href="/console/form") 12:30pm &mdash; Contact Form: Eoin McMillan / eoin@sfdevlabs.com / Do you have PS4s in stock and if so, can I reserve one for pickup on Friday?
			li
				a(href="/console/form") 9:00am &mdash; Contact Form: Jehan Tremback / jehan@sfdevlabs.com / I'm wondering if Dogecoin is an acceptable payment method...thanks
			li
				a(href="/console/form") 3:55am &mdash; Contact Form: Christine Ricks / christine.ricks@gmail.com / Are headphones part of the sale happening the week of December 20th?