doctype html
html
	head
		include head
	body(id=bodyid, class=bodyclass)
	block content
		div.container
			div#center
				p#tagline Hook your forms into a built-in, hosted backend.
				h1= title
				p
					a(class="action button", href="/signup") Sign Up
			nav#home-nav
				ul
					li
						a(href="/docs") Documentation
					li
						a(href="/login") Login
	include footer
