extends app-layout

block content
	div.container
		h1 Form List
		ul.wrapped
			li
				a(href="/console/form")
					h2 Contact Us 
					p Name, email, message
			li
				a(href="/console/form")
					h2 Report a Concern
					p Name, email, product, message
			li
				a(href="/console/form")
					h2 December 31 Workshop Sign-up
					p Name, email, phone number