extends layout

block content
	div.container
		form#center
			h1 Log into Fireform
			ul
				li
					input(type="text", name="email", id="email", placeholder="name@email.com")
				li
					input(type="password", name="password", id="password", placeholder="password")
			p
				input(type="submit", name="submit", id="submit", value="Login")