extends layout

block content
	div.container
		form#center
			h1 Sign Up
			ul
				li
					input(type="text", name="email", id="email", placeholder="Name@email.com")
				li
					input(type="password", name="password", id="password", placeholder="Password")
				li
					input(type="text", name="form-name", id="form-name", placeholder="Name your first form")
			p
				input(type="submit", name="submit", id="submit", value="Create Account")
