    <h2><i class="fa fa-code"></i> JavaScript Snippet</h2> 

    <p>Copy this snippet and paste it into your HTML underneath your &lt;form&gt;.</p>
<!--     <pre style="overflow:hidden;" ><code> 
      &lt;script  src="http://src.fireform.org/fireform.min.js"&gt;&lt;/script&gt;
      &lt;script &gt;
      		options={
      			emailNotification:"{{auth.user.email}}",
      			emailConfirmationName:"InputName",  //The form input we get the email from.
                        emailConfirmationFrom:"{{auth.user.email}}",  //Email appears as sent by this address.
      			emailConfirmationSubject:"Thanks for signing up",
      			emailConfirmationBodyHTML:"&lt;p&gtYou have been signed up!&lt;/p&gt",
      			emailConfirmationBodyText:"You have been signed up!"
      		}
      		new Fireform('#MySelector', '{{$location.absUrl()}}', options);
      &lt;/script&gt;
     </code></pre>

 -->
 <pre style="overflow:hidden;" class="ng-scope"><code class="ng-binding hljs xml"> 
      <span class="hljs-tag">&lt;<span class="hljs-title">script</span>  <span class="hljs-attribute">src</span>=<span class="hljs-value">"http://src.fireform.org/fireform.min.js"</span>&gt;</span><span class="javascript"></span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">script</span>&gt;</span><span class="javascript">
          options={
            emailNotification:<span class="hljs-string">"{{auth.user.email}}"</span>,
            emailConfirmationName:<span class="hljs-string">"InputName"</span>,  <span class="hljs-comment">//The form input we get the email from.</span>
            emailConfirmationFrom:<span class="hljs-string">"{{auth.user.email}}"</span>,  <span class="hljs-comment">//Email appears as sent by this address.</span>
            emailConfirmationSubject:<span class="hljs-string">"Thanks for signing up"</span>,
            emailConfirmationBodyHTML:<span class="hljs-string">"&lt;p&gt;You have been signed up!&lt;/p&gt;"</span>,
            emailConfirmationBodyText:<span class="hljs-string">"You have been signed up!"</span>
          }
          <span class="hljs-keyword">new</span> Fireform(<span class="hljs-string">'#MySelector'</span>, <span class="hljs-string">'{{$location.absUrl()}}'</span>, options);
      </span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
     </code></pre>