    <h2>JavaScript Snippet</h2> 

    <p>Copy this snippet and paste it into your HTML underneath your &lt;form&gt;.</p>
    <pre style="overflow:hidden;" ><code> 
      &lt;script type="application/javascript" src="http://fireform.org/fireform.js"&gt;&lt;/script&gt;
      &lt;script type="application/javascript"&gt;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;new Fireform('#MySelector', '{{$location.absUrl()}}'<span ng-hide="!ListView.emailConfirmation">, "ddd"</span>);
      &lt;/script&gt;

     </code></pre>

